<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-icon name="chevron-back-outline" (click)="dismiss()" /></ion-buttons>
    <ion-title>
      Viewers List
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-viewer-main">
    <div class="div-viewer-sub">
      <div class="div-img">
        <ion-img src="assets/img/ryan.jpg" />
        <div class="div-details">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-phone">9090909090</ion-label>
        </div>
      </div>
      <div class="div-icons">
        <ion-icon name="logo-whatsapp" style="color: 	#45bf54;" />
        <ion-icon name="call" />
      </div>
    </div>
    <div class="div-viewer-sub">
      <div class="div-img">
        <ion-img src="assets/img/ryan.jpg" />
        <div class="div-details">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-phone">9090909090</ion-label>
        </div>
      </div>
      <div class="div-icons">
        <ion-icon name="logo-whatsapp" style="color: 	#45bf54;" />
        <ion-icon name="call" />
      </div>
    </div>
    <div class="div-viewer-sub">
      <div class="div-img">
        <ion-img src="assets/img/ryan.jpg" />
        <div class="div-details">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-phone">9090909090</ion-label>
        </div>
      </div>
      <div class="div-icons">
        <ion-icon name="logo-whatsapp" style="color: 	#45bf54;" />
        <ion-icon name="call" />
      </div>
    </div>
    <div class="div-viewer-sub">
      <div class="div-img">
        <ion-img src="assets/img/ryan.jpg" />
        <div class="div-details">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-phone">9090909090</ion-label>
        </div>
      </div>
      <div class="div-icons">
        <ion-icon name="logo-whatsapp" style="color: 	#45bf54;" />
        <ion-icon name="call" />
      </div>
    </div>
    <div class="div-viewer-sub">
      <div class="div-img">
        <ion-img src="assets/img/ryan.jpg" />
        <div class="div-details">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-phone">9090909090</ion-label>
        </div>
      </div>
      <div class="div-icons">
        <ion-icon name="logo-whatsapp" style="color: 	#45bf54;" />
        <ion-icon name="call" />
      </div>
    </div>
    <div class="div-viewer-sub">
      <div class="div-img">
        <ion-img src="assets/img/ryan.jpg" />
        <div class="div-details">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-phone">9090909090</ion-label>
        </div>
      </div>
      <div class="div-icons">
        <ion-icon name="logo-whatsapp" style="color: 	#45bf54;" />
        <ion-icon name="call" />
      </div>
    </div>
    <div class="div-viewer-sub">
      <div class="div-img">
        <ion-img src="assets/img/ryan.jpg" />
        <div class="div-details">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-phone">9090909090</ion-label>
        </div>
      </div>
      <div class="div-icons">
        <ion-icon name="logo-whatsapp" style="color: 	#45bf54;" />
        <ion-icon name="call" />
      </div>
    </div>
  </div>
</ion-content>