<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()"></ion-icon>
    <ion-title>{{actionType}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div *ngIf="properties?.length > 0">
    <app-product-box *ngFor="let property of properties" [hit]="property"></app-product-box>
  </div> -->

  <!-- <app-product-box></app-product-box> -->

  <div class="">
    @for(property of properties(); track property.id) {
    <app-realestate-card [property]="property"></app-realestate-card>
    }
  </div>

</ion-content>