ion-title {
  text-align: left;
  padding-left: 40px;
}

.div-flex {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: var(--margin-16);
}

ion-button {
  --border-radius: 8px;
  text-transform: inherit;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-600);
  letter-spacing: var(--letter-spacing-5);
  filter: var(--filter);
}

.div-spec-inputs {
  margin: 16px;
}

.div-formgroup {
  margin-bottom: 16px;
  position: relative;
}

.div-specification-display {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
  background: var(--content-background-white);
  border: var(--border-ddd);
  box-shadow: var(--box-shadow-2);
}

.ion-label-main {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left;
  flex-grow: 1;
  color: var(--color-white);
}

.div-spec-keys-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.div-specification-sub {
  display: flex;
  align-items: center;
  background: var(--content-background);
  border: var(--border);
  width: 90%;
  border-radius: 8px;

  .ion-label-title {
    display: block;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-600);
    letter-spacing: var(--letter-spacing-5);
    padding: var(--margin-10);
    line-height: 1.5;
    text-align: center;
    width: 50%;
    color: var(--color-black);

    &:not(:last-child) {
      border-right: var(--border-ddd);
    }
  }
}

.div-edit-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-top: var(--border-ddd);
  padding: 10px;

  ion-label {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--red);
  }
  ion-icon {
    font-size: 16px;
    color: var(--red);
  }
}

.div-title-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: var(--background-gray);
  position: relative;

  .spec-title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-black);
  }
}

.spec-delete {
  color: var(--red);
  background: var(--content-background-white);
  border-radius: 6px;
  padding: 4px;
  font-size: 18px;
}

ion-footer {
  padding: 10px;
  background: var(--content-background-white);
  border-top: var(--border);
}
