@if(true) {
<ion-header>
    <ion-toolbar>
        <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()"></ion-icon>
        <ion-title>Specifications</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="specificationsForm">
        <div class="div-flex">
            <ion-input type="text" mode="md" label="Specification Title" label-placement="floating" fill="outline"
                placeholder="Enter Specification Title" [formControl]="newTitle">
            </ion-input>
            <ion-button color="warning" (click)="addSection()" [disabled]="newTitle.invalid">+&nbsp;Add</ion-button>
        </div>
        <div formArrayName="sections">
            @for (sec of sectionsArray.controls; track trackSection($index); let i = $index) {
            <div class="div-specification-display" [formGroupName]="i">
                <div class="div-title-delete">
                    <ion-label class="spec-title" style="font-weight:600;">
                        {{ sectionAt(i).controls.title.value }}
                    </ion-label>
                    <ion-icon name="trash-outline" class="spec-delete" (click)="removeSection(i)"></ion-icon>
                </div>
                <!-- Add new item -->
                <div class="div-spec-inputs">
                    <div formGroupName="newItem">
                        <div class="div-formgroup">
                            <ion-input type="text" mode="md" label="Keyword" label-placement="floating" fill="outline"
                                placeholder="Enter Keyword" formControlName="key">
                            </ion-input>
                        </div>
                        <div class="div-formgroup">
                            <ion-textarea mode="md" label="Value" label-placement="floating" fill="outline"
                                placeholder="Enter Value" rows="4" style="height:auto;" formControlName="value">
                            </ion-textarea>
                        </div>

                        <ion-button expand="block" color="primary" (click)="addItem(i)">
                            Add
                        </ion-button>
                    </div>
                </div>
            </div>
            }
            <!-- Render items per section in a separate block -->
            @for (sec of sectionsArray.controls; track trackSection($index); let i = $index) {
            <div class="div-specification-display" [formGroupName]="i">
                <div class="div-title-delete" style="background: var(--background-main);">
                    <ion-label class="ion-label-main" style="font-weight:600;">
                        {{ sectionAt(i).controls.title.value }}
                    </ion-label>
                    <ion-icon name="trash-outline" class="spec-delete" (click)="removeSection(i)"></ion-icon>
                </div>
                <div style="padding: 10px;" formArrayName="items">
                    @for (item of sectionAt(i).controls.items.controls; track trackItem($index); let j = $index) {
                    <div class="div-spec-keys-values" [formGroupName]="j">
                        <div class="div-specification-sub">
                            <ion-label class="ion-label-title" style="font-weight:500;">{{ item.controls.key.value
                                }}</ion-label>
                            <ion-label class="ion-label-title">{{ item.controls.value.value
                                }}</ion-label>
                        </div>
                        <ion-icon name="trash-outline" class="spec-delete" (click)="removeItem(i, j)"></ion-icon>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </form>
</ion-content>
<ion-footer>
    <ion-button expand="block" color="warning" (click)="submit()">
        Submit
    </ion-button>
</ion-footer>

}