<ion-header>
  <ion-toolbar>
    <ion-icon (click)="dismiss()" name="arrow-back-outline" class="icon-close"></ion-icon>
    <ion-title>All Photos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-all-photos">
    <ion-img src="https://photos.zillowstatic.com/fp/faa6c0d2944d743d431e7ec6203fbb33-cc_ft_960.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/a9569f22c779aab7e72f6be7657de82f-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/9f75c6247420faff87e492c52c40d45c-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/e7d960a6436dc8dad6eac0f90dcc4447-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/f21e984b566a95e2dc2b7f16c067bfac-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/06fe893593fdea99bc5b652af97ad6e3-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/abfe346587b17323d4c6d1fac8cd4323-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/89439ad8e71163c8a8f1af59eb3ab0c1-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/5eadaef259fa9a3634143711be72f4b6-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
    <ion-img src="https://photos.zillowstatic.com/fp/f17cadcc7e6c0642db058ccc35219216-sc_1152_768.jpg"
      (click)="openImageFullView()"></ion-img>
  </div>
</ion-content>