<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start"><ion-icon name="chevron-back-outline" (click)="dismiss()"></ion-icon></ion-buttons>
      <ion-title>
         Upgrade my Plan
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-details">  

      <div class="div-subscription-card">
          <div class="div-card-sub enterprise" style="border-bottom-right-radius:0">
              <ion-label class="label-title">Bulk</ion-label>
              <ion-label class="label-price"><sup>₹</sup>1499</ion-label>
             
              <div class="div-width">
                <div style="text-align: left;">
                  <ion-label class="range-title">Properties</ion-label>
                  <ion-label class="range-sub">No of properties for bulk plan</ion-label>
                </div>
                <ion-label class="count">20</ion-label>
              </div>
              <div class="div-width">
                <div style="text-align: left;">
                  <ion-label class="range-title">Months</ion-label>
                  <ion-label class="range-sub">No of Months for bulk plan</ion-label>
                </div>
                <ion-label class="count">10</ion-label>
              </div>              
              <!-- <ion-label class="label-buy" >Subscribe</ion-label> -->
          </div>
      </div>

      <div class="div-info">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label >To upgrade your plan., Please enter no of properties & Months you required</ion-label>
      </div>
     
  </div>
</ion-content>


<ion-footer>
  <div class="div-upgrade">
    <div class="div-text" style="margin-right: 5px;">
      <ion-label>Properties</ion-label>
        <ion-input class="input-settings" type="number" value="10"></ion-input>
  
    </div>
    <div class="div-text">
      <ion-label>Months</ion-label>
      <ion-input class="input-settings" type="number" value="2"></ion-input>
    </div>
  </div>
  <div class="div-button">
      <ion-button expand="block" color="tertiary" >
           Confirm & Pay</ion-button>
  </div>
</ion-footer>
