<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="dismiss()" class="icon-close" />
    <ion-title>
      Upgrade my Plan
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-info">
    <ion-icon name="information-circle-outline" />
    <ion-label>To upgrade your plan., Please enter no of Images & Months you required</ion-label>
  </div>
  <div class="div-details">
    <div class="div-subscription-card">
      <div class="div-card-sub enterprise" style="border-bottom-right-radius:0">
        <ion-label class="label-title">Bulk</ion-label>
        <ion-label class="label-price"><sup>₹</sup>1499</ion-label>

        <div class="div-width">
          <div style="text-align: left;">
            <ion-label class="range-sub">No of Images</ion-label>
          </div>
          <!-- <ion-label class="count">20</ion-label> -->
          <ion-input type="text" mode="md" label="No of Images" label-placement="floating" fill="outline"
            placeholder="Enter No of Images" style="margin: 0 !important;" formControlName="openArea" />
        </div>
        <div class="div-width">
          <div style="text-align: left;">
            <ion-label class="range-sub">No of Months</ion-label>
          </div>
          <!-- <ion-label class="count">20</ion-label> -->
          <ion-input type="text" mode="md" label="No of Months" label-placement="floating" fill="outline"
            placeholder="Enter No of Months" style="margin: 0 !important;" formControlName="openArea" />
        </div>
        <!-- <ion-label class="label-buy" >Subscribe</ion-label> -->
      </div>
    </div>



  </div>
</ion-content>


<ion-footer>
  <div class="div-upgrade">
    <div class="div-text" style="margin-right: 5px;">
      <ion-label>Images</ion-label>
      <ion-input class="input-settings" type="number" value="10" />

    </div>
    <div class="div-text">
      <ion-label>Months</ion-label>
      <ion-input class="input-settings" type="number" value="2" />
    </div>
  </div>
  <div class="div-button">
    <ion-button expand="block" color="tertiary">
      Confirm & Pay</ion-button>
  </div>
</ion-footer>