<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()"></ion-icon>
    <ion-title>Filters</ion-title>
    <ion-button size="small" color="warning" class="span-apply">Clear Filters</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group expand="inset">
    <ion-accordion>
      <ion-item slot="header" color="rose">
        <ion-label>Price</ion-label>
      </ion-item>
      <div class="div-content" slot="content">
        <ion-range aria-label="Dual Knobs Range" [dualKnobs]="true" [value]="{ lower: 20, upper: 80 }">
          <ion-label slot="start">20</ion-label>
          <ion-label slot="end">80</ion-label>
        </ion-range>
      </div>
      <div class="div-content" slot="content">
      </div>
      @for(facet of fObject.data.facetHits; track facet.value) {
      <div [class.div-content]="fObject.type !=='amount'" slot="content">

        @if(facet.type !=='amount') {
        <div>
          <ion-checkbox labelPlacement="end">
            {{fObject.type === 'bool' ? (facet.value === 'true' ? 'Available' : 'Out of Stock') : facet.value}}
          </ion-checkbox>
          <span style=" border-radius: 5px; float: right; font-size: 12px; "> <ion-badge slot="end"
              style="background: transparent;color:black;font-size:14px;margin: auto;">{{facet.count}}</ion-badge></span>
        </div>
        }
      </div>
      }
    </ion-accordion>
  </ion-accordion-group>
</ion-content>