<div class="div-coupon-main">
  <div class="div-left-title">
    <ion-label>Cashback</ion-label>
    <div class="div-backgrounds">
      <div class="div-single-background"></div>
      <div class="div-single-background"></div>
      <div class="div-single-background"></div>
      <div class="div-single-background"></div>
      <div class="div-single-background"></div>
    </div>
  </div>
  <div class="div-right-details">
    <div class="div-flex-img">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/logo.png" />
        </div>
        <ion-label>RT12345</ion-label>
      </div>
      <ion-label class="label-apply" (click)="openCouponApplied()">Apply</ion-label>
    </div>
    <ion-label class="label-small-desc">Get 10% cashback using NoDalaari wallet</ion-label>
    <ion-label class="label-desc">Maximum cashback upto ₹75 on NoDalaari wallet transactions above ₹5000</ion-label>
    <ion-label class="label-more">+More</ion-label>
  </div>
</div>
