ion-header {

    ion-toolbar {

        ion-icon {
            font-size: 20px;
        }
    }
}

ion-content {

    ion-icon {
        color: #fff;
        font-size: 24px;
    }
}
.div-ventures {
    padding: 16px;
}