<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-arrow" (click)="dismiss()"></ion-icon>
    <ion-title>Configuaration</ion-title>
  </ion-toolbar>
  @if (copiedData) {
    <ion-toolbar class="ion-toolbar-settings" style="--min-height: 44px;">
      <div class="div-flex" >
        <ion-button color="warning" size="small" expand="block" (click)="clearClipboard()" >
          <ion-label>Clear Clipboard</ion-label>
        </ion-button>
        <ion-button color="warning" size="small" expand="block" (click)="pasteAll()" >
          <ion-label>Paste All</ion-label>
        </ion-button>
      </div>
    </ion-toolbar>
  }
</ion-header>
<ion-content>
  @if (configuring) {
    <div class="div-img">
      <ion-img src="assets/img/configure.gif"></ion-img>
      <ion-label>Configuring<br>Please Wait ...</ion-label>
    </div>
  }

  @if (!configuring) {
    <div>
      <!-- <app-towerfloor-box  *ngFor="let floor of floorsData; let i = index" [user]="user" [floor]="floor"></app-towerfloor-box> -->
      @for (villa of villasData; track villa; let i = $index) {
        <app-towerflat-box (copied)="copiedVilla($event)" [user]="user()"
        [villa]="villa" [copiedData]="copiedData" [pasteAll]="pasteAllData"></app-towerflat-box>
      }
    </div>
  }
</ion-content>