ion-content {
  --background: var(--content-background-white);
}

ion-title {
  text-align: left;
  padding-left: 40px;
}

ion-label {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--color-black);
  display: block;
  margin-bottom: 5px;
}

.span-type {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--color-skyblue);
  display: block;
  margin-bottom: 5px;
  background: #eff6ff;
  padding: 6px 16px;
  border-radius: 100px;
  text-transform: uppercase;
  margin-top: 6px;
}

.div-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 16px;

  .div-formgroup {
    margin: 0;
  }
}

.div-location {
  padding: 16px;
  border: 1px solid #aaa;
  background: var(--content-background-white);
  border-radius: 10px;
  margin-bottom: 16px;
}

.label-location {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--color-777);
}

.add-button {
  margin-right: 16px;
  background: var(--background-main);
  height: 60px;
  border-radius: 8px;
  // border: 2px dashed hsl(205 88% 30% / 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-flex {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;

  ion-label {
    margin: 0;
    color: var(--color-black);
  }

  ion-button {
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    --border-radius: 6px;
    text-transform: inherit;
    height: 21px;
  }
}

.div-amenities {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;

  .badge-amenity {
    font-size: 12px;
    background: var(--background-main);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 6px;
    letter-spacing: 0.25px;
    color: var(--color-white);
  }
}

.div-formgroup {
  margin-bottom: 16px;
  position: relative;
}

.select-units::part(label) {
  line-height: 15px;
}

.div-label {
  min-width: 95px;
  background: var(--content-background);
  padding: 10px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color-black);
    margin: 0;
    text-align: center;
    line-height: 1.25;
    font-family: "operatr" !important;
    padding-top: 5px;
  }
}

.input-settings {
  --padding-start: 5px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 10px;
  border: 1px solid #aaa;
  color: var(--color-black);
  --padding-top: 0;
  background: var(--content-background-white);
  --placeholder-color: var(--color-999);
  --placeholder-opacity: 1;
}

.div-label-units {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: var(--content-background);
  height: 42px;
  min-width: 95px;
  overflow: hidden;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-black);
    display: block;
    font-family: "operatr" !important;
  }
}

.div-upload-main {
  display: flex;
  align-items: center;
}

.div-upload {
  margin-bottom: 16px;
}

.div-add {
  text-align: center;
  padding: 16px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin: 8px 0 16px;
  background: var(--content-background);

  .icon-upload {
    font-size: 40px;
    color: var(--color-black);
  }

  .label-add {
    display: block;
    font-size: 14px;
    color: var(--color-black);
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  .label-span {
    display: block;
    font-size: 12px;
    color: var(--color-777);
    letter-spacing: 0.5px;
  }
}

.upload-btn-wrapper {
  position: relative;
  width: 50%;
  // overflow: hidden;
  // display: inline-block;
}

.btn {
  // border: 2px dashed hsl(205 88% 30% / 1);
  color: var(--color-white);
  background-color: var(--background-main);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-transform: inherit;
  height: 60px;
  width: 100%;
  margin: 0;

  ion-icon {
    margin-right: 10px;
    font-size: 40px;
    color: var(--color-white);
  }

  p {
    margin: 0;
    line-height: 1.25;
    font-size: 14px;
    color: var(--color-white);

    span {
      display: block;
    }
  }
}

.upload-btn-wrapper input[type="file"] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
}

.div-venture-images {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 16px;
}

.div-uploading {
  height: 200px;
  width: 200px;
  min-width: 200px;
  position: relative;
  background: var(--content-background-white);
  border-radius: 12px;
  margin-bottom: 16px;
  border: var(--border);
  overflow: hidden;

  ion-img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }

  ion-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    background: red;
    font-weight: 600;
    border-radius: 4px;
    padding: 5px;
    color: var(--color-white);
    cursor: pointer;
  }
}

.ion-button-settings {
  margin: 0;
  --border-radius: 8px !important;
  text-transform: inherit;
  letter-spacing: 0.25px;
  font-weight: 600;
  font-size: 14px;
}

.div-video-display {
  text-align: center;
  background: black;
  border-radius: 10px;
  margin: 16px 0;
  position: relative;

  ion-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 24px;
  }
}

.div-negotiable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 12px;
  background: var(--content-background);
  border-radius: 8px;

  .label-negotiable {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-black);
  }
}

.div-payment-main {
  // display: flex;
  // align-items: center;
  margin-top: 20px;

  :not(:last-child) {
    margin-right: 5px;
  }
}

.div-payment-display {
  padding: 16px;
  background: var(--content-background-white);
  margin: 16px 0;
  border-radius: 10px;
  border: var(--border);
  text-align: center;

  ion-button {
    --border-radius: 4px;
    margin: 0;
    text-transform: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    filter: drop-shadow(2px 4px 6px #aaa);
  }

  .div-display-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: var(--border);
    padding-bottom: 16px;

    .label-amount {
      margin: 0;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 2px;
      text-shadow: 2px 2px 2px #aaa;
      color: var(--color-black);
    }

    .label-actual-amount {
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      color: var(--color-black);
      text-decoration: line-through;
    }

    .label-discount {
      margin: 0;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 1px;
      color: limegreen;

      span {
        font-size: 14px;
        font-weight: 500;
        padding-left: 5px;
      }
    }
  }
}

.div-property-segment {
  margin-bottom: 20px;
  margin-top: 10px;

  .div-property-input {
    margin-top: 20px;
  }
}

// .div-badges {
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;

//     :not(:last-child) {
//         margin-right: 10px;
//     }

//     ion-badge {
//         padding: 8px 12px;
//         border-radius: 100px;
//         margin-top: 10px;
//         background: var(--background-main);
//         font-size: 12px;
//         font-weight: 600;
//         letter-spacing: 0.5px;
//     }
// }

.div-info {
  display: flex;
  align-items: center;
  background: var(--content-background);
  margin-top: 16px;
  padding: 10px;
  border-radius: 6px;

  ion-icon {
    width: 10%;
    font-size: 18px;
    color: green;
  }

  ion-label {
    display: block;
    color: green;
    font-weight: 500;
    width: 80%;
    text-align: left;
  }
}

.div-amenities {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;

  h4 {
    margin: 0;
    font-size: 14px;
    background: var(--background-main);
    display: inline;
    padding: 5px 14px;
    font-weight: 600;
    border-radius: 100px;
    border: var(--border);
    letter-spacing: 0.5px;
    color: var(--color-white);
    margin-bottom: 16px;
    margin-right: 16px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #aaa;
  padding: 12px;
  border-radius: 10px;
  background: var(--content-background-white);

  ion-button {
    margin: 0;
    --border-radius: 4px;
  }
}

ion-footer {
  padding: 10px;
  border-top: var(--border);
  background: var(--content-background-white);
}

.div-detect-location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.img-detect-location {
  width: 20px;
  height: 20px;
}

.span-detect-location {
  font-size: 14px;
  color: var(--color-skyblue);
  font-weight: 600;
  letter-spacing: 0.5px;
}
