<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    <ion-title>
      Add-Ons
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-addons-main">
    <div class="div-subscription-card">
      <ion-img src="assets/img/image.png" class="img-settings"></ion-img>
      <div class="div-card-sub enterprise">
          <ion-label class="label-title">Images</ion-label>
          <ion-label class="label-price"><sup>₹</sup>50</ion-label>
          <ul>
            <li><ion-icon name="images-outline"></ion-icon>10 Images</li>
          </ul>
          <div class="div-width">
            <ion-label class="range-title">No of Properties</ion-label>
            <div class="div-range-flex">
              <ion-range type="range" class="range-slider" value="5" min="0" max="10"></ion-range>
              <ion-label class="count">10</ion-label>
            </div>              
          </div>        
          <ion-label class="label-buy" >Subscribe</ion-label>
      </div>
    </div>
    <div class="div-subscription-card">
      <ion-img src="assets/img/video.png" class="img-settings"></ion-img>
      <div class="div-card-sub">
          <ion-label class="label-title">Videos</ion-label>
          <ion-label class="label-price"><sup>₹</sup>50</ion-label>
          <ul>
            <li style="border-bottom: 1px solid hsl(345, 100%, 70%);"><ion-icon name="videocam-outline"></ion-icon>1 Video</li>
          </ul>
          <div class="div-width">
            <ion-label class="range-title">No of Properties</ion-label>
            <div class="div-range-flex">
              <ion-range type="range" class="range-slider" value="5" min="0" max="10" style="--bar-background-active: #ff82a1;"></ion-range>
              <ion-label class="count" style="color:#ff82a1;">10</ion-label>
            </div>              
          </div>        
          <ion-label class="label-buy" >Subscribe</ion-label>
      </div>
    </div>
  </div>
</ion-content>