<div class="">
  <div class="div-facts-items">
    <ion-label>Interior Features</ion-label>
  </div>
  <div class="div-lists">
    <span class="feature-list-title">Bedrooms & Bathrooms</span>
    <div class="feature-list">
      <ul>
        <li>
          <ion-label>
            <span> Bedrooms&nbsp;: </span>
          4
          </ion-label>
        </li>
        <li>
          <ion-label>
            <span> Bathrooms&nbsp;: </span>
           3
          </ion-label>
        </li>
        <!-- <li>Full bathrooms: {{realEstate()?.fullBathrooms}}</li>
        <li>Half bathrooms: {{realEstate()?.halfBathrooms}}</li>
        <li>Main level bathrooms: 1</li> -->
      </ul>
    </div>
  </div>
  <div class="div-lists">
    <span class="feature-list-title">Furnishing</span>
    <div class="feature-list">
      <ul>
        <li>
          <ion-label>
            <span> Furnishing&nbsp;: </span>
           Fully Furnished
          </ion-label>
        </li>
      </ul>
    </div>
  </div>

  <div class="div-facts-items">
    <ion-label>Property</ion-label>
  </div>
  <div class="div-lists">
    <span class="feature-list-title">Parking</span>
    <div class="feature-list">
      <ul>
        <li>
          <ion-label>
            <span> Parking features&nbsp;: </span>
          Yes
          </ion-label>
        </li>
      </ul>
    </div>
  </div>
  <div class="div-lists">
    <span class="feature-list-title">Accessibility Features</span>
    <div class="feature-list">
      <ul>
        <li>
          <ion-label>
            <span> Accessibility Features&nbsp;: </span>
            Yes
          </ion-label>
        </li>
      </ul>
    </div>
  </div>
  <div class="div-lists">
    <span class="feature-list-title">Details</span>
    <div class="feature-list">
      <ul>
        <li>
          <ion-label>
            <span> Year Built&nbsp;: </span>
         2019
          </ion-label>
        </li>
        <li>
          <ion-label>
            <span>House Facing&nbsp;: </span>
            East Facing
          </ion-label>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="div-lists">
    <span class="feature-list-title">Appliances</span>
    <div class="feature-list">
      <ul>
        <li>Laundry: Inside</li>
      </ul>
    </div>
  </div> -->
</div>