<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Property Location
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar search-icon="search-circle"
      animated="true"
      show-clear-button="focus"
      clear-icon="close"
      debounce="800"
      placeholder="Search your property location..."
      (ionInput)="onSearchChange($event)" />
  </ion-toolbar>
</ion-header>

<ion-content>

  @if (places?.length > 0) {
    <ion-list>
      @for (place of places; track place) {
        <ion-item class="ion-margin-top">
          <ion-icon name="location-outline" slot="start" />
          <ion-label>
            {{ place?.title }}
            <p>
              <ion-text>
                {{ place?.address }}
              </ion-text>
            </p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  }

</ion-content>