<ion-header>
  <ion-toolbar>
          <ion-icon class="icon-back" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
      <ion-title>Post Viewed</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-likes-main">
      <div class="div-likes-sub" (click)="goToProfile()">
          <img src="assets/img/dummy/ryan.jpg">
          <div class="div-names">
              <h6>Pogula Srinu</h6>
              <span>Just now</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/usher.jpg">
          <div class="div-names">
              <h6>Gunda Abhinav</h6>
              <span>1 Hour ago</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/mike.jpg">
          <div class="div-names">
              <h6>Donda Venkanna</h6>
              <span>1 Day ago</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/james.jpg">
          <div class="div-names">
              <h6>Shivakoti Narendar</h6>
              <span>1 Week ago</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/profile.png">
          <div class="div-names">
              <h6>Kodirekka Nagendar</h6>
              <span>1 Month ago</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/ryan.jpg">
          <div class="div-names">
              <h6>Pogula Srinu</h6>
              <span>Just now</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/usher.jpg">
          <div class="div-names">
              <h6>Gunda Abhinav</h6>
              <span>1 Hour ago</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/mike.jpg">
          <div class="div-names">
              <h6>Donda Venkanna</h6>
              <span>1 Day ago</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/james.jpg">
          <div class="div-names">
              <h6>Shivakoti Narendar</h6>
              <span>1 Week ago</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="div-likes-sub">
          <img src="assets/img/dummy/profile.png">
          <div class="div-names">
              <h6>Kodirekka Nagendar</h6>
              <span>1 Month ago</span>
          </div>
          <ion-icon name="eye-outline"></ion-icon>
      </div>
  </div>
</ion-content>