<ion-content>
  <div class="div-welcome-main">
      <div class="div-welcome-sub">
          <!-- <ion-img src="assets/img/pray.png"></ion-img> -->
          <div class="div-labels">
              <ion-label class="label-welcome">Welcome !</ion-label>
              <ion-label class="label-user-name">Gunda Ajay Kumar</ion-label>
          </div>
      </div>
      <ion-img src="assets/img/logo.png" class="img-settings" />
      <!-- <ion-label class="label-name">Realtor One</ion-label> -->
      <div class="div-text">
          <ion-label class="label-title">Do you want to raise a request for</ion-label>
          <div class="div-span">
              <ion-label>Sale</ion-label>
              <ion-label>Rent</ion-label>
              <ion-label>Lease</ion-label>
          </div>
          <div class="div-footer">
              <ion-button color="success" expand="block" (click)="openAdd()">Yes</ion-button>
              <ion-button color="medium" expand="block" (click)="dismiss()">No</ion-button>
          </div>
      </div>
  </div>
</ion-content>