<ion-accordion-group style="margin: 0 16px;">
  <ion-accordion value="first">
    <ion-item slot="header">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/ryan.jpg"></ion-img>
        </div>
        <div class="div-details-main">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-pack">Apartment - 3HBK</ion-label>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="div-location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label class="label-pack">Reddy colony, Miryalaguda</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/05/2022</ion-label>
        <ion-label class="label-amount">₹499</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/06/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/07/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/james.jpg"></ion-img>
        </div>
        <div class="div-details-main">
          <ion-label class="label-name">Donda Venkanna</ion-label>
          <ion-label class="label-pack">Apartment - 3HBK</ion-label>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="div-location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label class="label-pack">Reddy colony, Miryalaguda</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/05/2022</ion-label>
        <ion-label class="label-amount">₹499</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/06/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/07/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/ryan.jpg"></ion-img>
        </div>
        <div class="div-details-main">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-pack">Apartment - 3HBK</ion-label>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="div-location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label class="label-pack">Reddy colony, Miryalaguda</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/05/2022</ion-label>
        <ion-label class="label-amount">₹499</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/06/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/07/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
    </div>
  </ion-accordion>
  <ion-accordion value="four">
    <ion-item slot="header">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/james.jpg"></ion-img>
        </div>
        <div class="div-details-main">
          <ion-label class="label-name">Donda Venkanna</ion-label>
          <ion-label class="label-pack">Apartment - 3HBK</ion-label>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="div-location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label class="label-pack">Reddy colony, Miryalaguda</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/05/2022</ion-label>
        <ion-label class="label-amount">₹499</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/06/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/07/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
    </div>
  </ion-accordion>
  <ion-accordion value="five">
    <ion-item slot="header">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/ryan.jpg"></ion-img>
        </div>
        <div class="div-details-main">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-pack">Apartment - 3HBK</ion-label>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="div-location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label class="label-pack">Reddy colony, Miryalaguda</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/05/2022</ion-label>
        <ion-label class="label-amount">₹499</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/06/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/07/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
    </div>
  </ion-accordion>
  <ion-accordion value="six">
    <ion-item slot="header">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/james.jpg"></ion-img>
        </div>
        <div class="div-details-main">
          <ion-label class="label-name">Donda Venkanna</ion-label>
          <ion-label class="label-pack">Apartment - 3HBK</ion-label>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="div-location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label class="label-pack">Reddy colony, Miryalaguda</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/05/2022</ion-label>
        <ion-label class="label-amount">₹499</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/06/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/07/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
    </div>
  </ion-accordion>
  <ion-accordion value="seven">
    <ion-item slot="header">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/ryan.jpg"></ion-img>
        </div>
        <div class="div-details-main">
          <ion-label class="label-name">Pogula Srinu</ion-label>
          <ion-label class="label-pack">Apartment - 3HBK</ion-label>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="div-location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label class="label-pack">Reddy colony, Miryalaguda</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/05/2022</ion-label>
        <ion-label class="label-amount">₹499</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/06/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/07/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
    </div>
  </ion-accordion>
  <ion-accordion value="eight">
    <ion-item slot="header">
      <div class="div-img-main">
        <div class="div-img">
          <ion-img src="assets/img/james.jpg"></ion-img>
        </div>
        <div class="div-details-main">
          <ion-label class="label-name">Donda Venkanna</ion-label>
          <ion-label class="label-pack">Apartment - 3HBK</ion-label>
        </div>
      </div>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="div-location">
        <ion-icon slot="start" name="location-outline"></ion-icon>
        <ion-label class="label-pack">Reddy colony, Miryalaguda</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/05/2022</ion-label>
        <ion-label class="label-amount">₹499</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/06/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
      <div class="div-pack-name" (click)="openRequests()">
        <ion-label class="label-init"><span>Initial Commission</span>Renewed on 13/07/2022</ion-label>
        <ion-label class="label-amount">₹249</ion-label>
      </div>
    </div>
  </ion-accordion>
</ion-accordion-group>