<div class="div-box" (click)="openRequests()">
  <div class="div-img-main">
    <div class="div-img">
      <ion-img src="assets/img/ryan.jpg" />
    </div>
    <div class="div-details-main">
      <ion-label class="label-name">Pogula Srinu</ion-label>
      <ion-label class="label-pack">Basic Plan</ion-label>
    </div>
  </div>
  <div class="div-details-sub">
    <div class="div-date">
      <ion-label class="label-gain"><span style="display: inline-block;">Pack&nbsp;Amount:&nbsp;</span>₹999</ion-label>
      <ion-label class="label-gain"><span style="display: inline-block;">Expires on:&nbsp;</span>13/05/2022</ion-label>
    </div>
    <ion-label class="label-gain" style="text-align: center;"><span>Gain Amount</span>₹449</ion-label>
  </div>
</div>