<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()" />
    <ion-title>{{ isEdit() ? 'Edit Amenity' : 'Create Amenities' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="amenityForm" #aForm (ngSubmit)="submitV2($event)">
    <!-- Amenity Name -->
    <div class="div-formgroup">
      <ion-input type="text" mode="md" label="Amenity Name" label-placement="floating" fill="outline"
        placeholder="Enter Amenity Name" formControlName="amenityName" />

      @let amenityName = amenityForm.controls.amenityName;
      @if (amenityName.invalid && (amenityName.touched || amenityName.dirty)) {
      @if (amenityName.errors?.['required']) {
      <div class="div-error">
        <ion-icon name="information-circle" class="icon-info" />
        <span class="name-error">Amenity Name is Required</span>
      </div>
      }
      @else if (amenityName.errors?.['minlength']) {
      <div class="div-error">
        <ion-icon name="information-circle" class="icon-info" />
        <span class="name-error">Amenity Name should have minimum of 3 characters</span>
      </div>
      }
      }
    </div>

    <!-- Description -->
    <div class="div-formgroup">
      <ion-textarea mode="md" label="Description" label-placement="floating" fill="outline"
        placeholder="Enter Description" rows="5" style="height:auto;" formControlName="description" />
    </div>

    <!-- Upload Logo (single) -->
    <!-- <div class="div-upload">
      <ion-label class="upload-label">Upload Image</ion-label>
      <div class="div-add" (click)="logoInput.click()" (dragover)="onDragOver($event)" (drop)="onDropLogo($event)">
        <ion-icon name="cloud-upload-outline" class="icon-upload"></ion-icon>
        <ion-label class="label-add">Upload a file or drag and drop</ion-label>
        <span class="label-span">.jpg, .jpeg, .png, up to 2MB</span>
      </div>

      <input #logoInput type="file" accept=".jpg,.jpeg,.png" hidden (change)="onLogoChange($event)" />

      @if (logoURL()) {
      <div class="div-uploading" style="width:auto;">
        <ion-icon name="trash-outline" (click)="removeLogo()"></ion-icon>
        <ion-img [src]="logoURL()!"></ion-img>
      </div>
      }
    </div> -->
  </form>
</ion-content>

<ion-footer>
  <ion-button [form]="aForm" type="submit" mode="ios" expand="block" color="warning" class="btn-submit"
    [disabled]="loading() || uploading()">
    {{ isEdit() ? 'Update' : 'Submit' }}
  </ion-button>
</ion-footer>