ion-content {
  --background: var(--content-background-white);
}

ion-title {
  text-align: left;
  padding-left: 40px;
}

ion-footer {
  background: var(--content-background-white);
  padding: 10px;
  border-top: var(--border);
}

.div-formgroup {
  margin-bottom: 16px;
}

.div-upload {
  margin-bottom: 16px;

  .upload-label {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-black);
    display: block;
  }

  .div-add {
    text-align: center;
    padding: 16px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    margin: 8px 0 16px;
    background: var(--content-background);

    .icon-upload {
      font-size: 40px;
      color: var(--color-black);
    }

    .label-add {
      display: block;
      font-size: 14px;
      color: var(--color-black);
      letter-spacing: 0.5px;
      font-weight: 500;
    }

    .label-span {
      display: block;
      font-size: 12px;
      color: var(--color-777);
      letter-spacing: 0.5px;
    }
  }
}

.div-uploading {
    height: 200px;
    width: 200px;
    min-width: 200px;
    position: relative;
    background: var(--content-background-white);
    border-radius: 12px;
    margin-bottom: 16px;
    border: var(--border);
    overflow: hidden;
  
    ion-img {
      height: 100%;
      width: 100%;
      border-radius: 12px;
      object-fit: cover;
    }
  
    ion-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 16px;
      background: red;
      font-weight: 600;
      border-radius: 4px;
      padding: 5px;
      color: var(--color-white);
      cursor: pointer;
    }
  }

.btn-submit {
  --border-radius: 8px !important;
  text-transform: inherit;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0 !important;
}
