
  
<div class="message sent">
  <ion-label class="p-entertext">hello</ion-label>
  <span class="metadata"><span class="time">22days ago</span></span>
</div>

<div class="message sent">
  <ion-img src="https://images.pexels.com/photos/17136147/pexels-photo-17136147/free-photo-of-indian-traditional-beard-man.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-settings"></ion-img>
  <ion-label class="p-entertext"> Hi hello how are you?</ion-label> 
  <!-- <div class="div-img-reply">
    <div class="div-reply-text1">
        <ion-label class="p-username">Pogula Srinu</ion-label>
        <ion-label class="p-entertext"> Hi hello how are you?</ion-label>
        <div class="div-p">
            <ion-icon name="camera"></ion-icon>
            <ion-label class="p-usertext">Photo</ion-label>
        </div>
    </div>
    <div class="div-img">
        <ion-img src="/assets/img/noimage.avif" class="img-reply"></ion-img>
    </div>
  </div>                       -->
  <span class="metadata">
    <span class="time">An hour ago</span><span class="tick"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#13753f"/></svg></span>
  </span>
</div>
<div class="message sent">
  <ion-label class="p-entertext">Test message</ion-label>
  <span class="metadata"><span class="time">22days ago</span></span>
</div>
<div class="message received">
  <ion-img src="https://images.pexels.com/photos/17136147/pexels-photo-17136147/free-photo-of-indian-traditional-beard-man.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-settings"></ion-img>
  <ion-label class="p-entertext"> Hi hello how are you?</ion-label> 
  <!-- <div class="div-img-reply">
    <div class="div-reply-text1">
        <ion-label class="p-username">Pogula Srinu</ion-label>
        <ion-label class="p-entertext"> Hi hello how are you?</ion-label>
        <div class="div-p">
            <ion-icon name="camera"></ion-icon>
            <ion-label class="p-usertext">Photo</ion-label>
        </div>
    </div>
    <div class="div-img">
        <ion-img src="/assets/img/noimage.avif" class="img-reply"></ion-img>
    </div>
  </div>                       -->
  <span class="metadata">
    <span class="time">An hour ago</span><span class="tick"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#13753f"/></svg></span>
  </span>
</div>
<div class="message sent" >
  <ion-label class="p-entertext">hi</ion-label>
  <span class="metadata"><span class="time">10days ago</span></span>
</div>
<!-- <div class="message received">
  <ion-img src="/assets/img/noimage.avif" class="img-settings"></ion-img>
  <ion-label class="p-entertext"> Hi hello how are you?</ion-label> 
  <div class="div-img-reply">
    <div class="div-reply-text1">
        <ion-label class="p-username">Pogula Srinu</ion-label>
        <ion-label class="p-entertext"> Hi hello how are you?</ion-label>
        <div class="div-p">
            <ion-icon name="camera"></ion-icon>
            <ion-label class="p-usertext">Photo</ion-label>
        </div>
    </div>
    <div class="div-img">
        <ion-img src="/assets/img/noimage.avif" class="img-reply"></ion-img>
    </div>
  </div>                      
  <span class="metadata">
    <span class="time">An hour ago</span><span class="tick"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#13753f"/></svg></span>
  </span>
</div> -->




<!-- <div class="message sent">
  <div class="div-img-reply">
    <div class="div-reply-text1">
        <ion-label class="p-username">Pogula Srinu</ion-label>
        <div class="div-p">
            <ion-icon name="camera"></ion-icon>
            <ion-label class="p-usertext">Photo</ion-label>
        </div>
    </div>
    <div class="div-img">
        <ion-img src="/assets/img/noimage.avif" class="img-reply"></ion-img>
    </div>
  </div>
  <ion-img src="/assets/img/noimage.avif" class="img-settings"></ion-img>
  <ion-label class="p-entertext">You were hugging an old man with a beard screaming "DUMBLEDORE YOU'RE ALIVE!"</ion-label>
  <span class="metadata">
    <span class="time">01:59 PM</span><span class="tick"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" id="msg-dblcheck-ack" x="2063" y="2076"><path d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z" fill="#13753f"/></svg></span>
  </span>
</div> -->




<!-- <div class="message received">
  <div class="div-img-reply">
    <div class="div-reply-text1">
      <ion-label class="p-username">Pogula Srinu</ion-label>
      <div class="div-p">
          <ion-icon name="camera"></ion-icon>
          <ion-label class="p-usertext">Photo</ion-label>
      </div>
    </div>
    <div class="div-img">
        <ion-img src="/assets/img/noimage.avif" class="img-reply"></ion-img>
    </div>
  </div>
  <ion-img src="/assets/img/noimage.avif" class="img-settings"></ion-img>
  <ion-label class="p-entertext">You were hugging an old man with a beard screaming "DUMBLEDORE YOU'RE ALIVE!"</ion-label>
  <span class="metadata"><span class="time">10:00 PM</span></span>
</div> -->




<!-- skeleton-code-start -->

  
<div class="message sent" style="display: none;">
  <ion-skeleton-text animated="true" style="width: 58px; height: 18px;"></ion-skeleton-text>
  <ion-skeleton-text animated="true" style="width: 51px; height: 18px;"></ion-skeleton-text>
</div>

<div class="message sent" style="display: none;">
  <ion-skeleton-text animated="true" style="width: 310px; height: 310px;"></ion-skeleton-text>
  <ion-skeleton-text animated="true" style="width: 150px; height: 18px;"></ion-skeleton-text> 
  <ion-skeleton-text animated="true" style="width: 81px; height: 22px;margin-left: auto;"></ion-skeleton-text>  
  
</div>
<div class="message sent" style="display: none;">
  <ion-skeleton-text animated="true" style="width: 71px; height: 18px;"></ion-skeleton-text>
  <ion-skeleton-text animated="true" style="width: 51px; height: 18px;"></ion-skeleton-text>
</div>
<div class="message received" style="display: none;">
  <ion-skeleton-text animated="true" style="width: 310px; height: 310px;"></ion-skeleton-text>
  <ion-skeleton-text animated="true" style="width: 150px; height: 18px;"></ion-skeleton-text> 
                    
  <ion-skeleton-text animated="true" style="width: 81px; height: 22px;margin-left: auto;"></ion-skeleton-text>  

</div>
<div class="message sent" style="display: none;">
  <ion-skeleton-text animated="true" style="width: 58px; height: 18px;"></ion-skeleton-text>
  <ion-skeleton-text animated="true" style="width: 51px; height: 18px;"></ion-skeleton-text>
</div>






<!-- skeleton-code-end -->
