<div class="div-edit">
  <ion-label class="ion-label-heading">Specifications</ion-label>
  <!-- <ion-icon name="create-outline"(click)="openSpecifications()"></ion-icon> -->
</div>
<div class="div-specification-display" *ngFor="let s of specifications; let i = index">
  <ion-label class="ion-label-main">{{s.title}}</ion-label>
  <div class="div-specification-sub" *ngFor="let sp of s.specifications; let j = index">
      <ion-label (input)="keyChanged($event, i, j)" class="ion-label-title" >{{sp.key}}</ion-label>
      <ion-label (input)="valueChanged($event, i, j)" class="ion-label-desc" style="text-align: center;">{{sp.value}}</ion-label>
  </div>
</div>
