@if(specifications.length > 0) {
<div class="div-edit">
  <ion-label class="ion-label-heading">Specifications</ion-label>
</div>
<div>
  @for (sec of specifications; track sec.title; let i = $index) {
  <div class="div-specification-display">
    <div class="div-title-delete">
      <ion-label class="spec-title">{{ sec.title }}</ion-label>
      <div class="div-btn-delete">
        <ion-icon name="create" class="spec-delete" (click)="openEditSection(i)"></ion-icon>
        <ion-icon name="trash-outline" class="spec-delete" (click)="removeSection(i)"></ion-icon>
      </div>
    </div>
    <div style="padding: 10px;">
      @for (kv of sec.specifications; track kv.key; let j = $index) {
      <div class="div-spec-keys-values">
        <div class="div-specification-sub">
          <ion-label class="ion-label-title">{{ kv.key }}</ion-label>
          <ion-label class="ion-label-title">{{ kv.value }}</ion-label>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>
}




<!-- <div class="div-specification-display">
  <ion-label class="ion-label-main" style="border-radius: var(--border-radius-4);">Kitchen
    Rooms</ion-label>
  <div style="padding: 10px;">
    @for (spec of [0,1,2,3,4,5,6,7,8,9]; track spec) {
    <div class="div-spec-keys-values">
      <div class="div-specification-sub">
        <ion-label class="ion-label-title" contenteditable="true">Kitchen Rooms</ion-label>
        <ion-label class="ion-label-title" style="text-align: center;" contenteditable="true">3</ion-label>
      </div>
    </div>
    }
  </div>
</div> -->