.div-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ion-label-heading {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  color: var(--color-black);
}

.div-specification-display {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
  background: var(--content-background-white);
  border: var(--border-ddd);
}

.ion-label-main {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 16px;
  border-bottom: var(--border-ddd);
  line-height: 1.5;
  background: var(--background-main);
  text-align: left;
  flex-grow: 1;
  border-top-left-radius: var(--border-radius-4);
  border-bottom-left-radius: var(--border-radius-4);
  color: var(--color-white);
}

.div-spec-keys-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.div-specification-sub {
  display: flex;
  align-items: center;
  background: var(--content-background);
  border: var(--border);
  border-radius: 8px;
  width: 100%;

  .ion-label-title {
    display: block;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-600);
    letter-spacing: var(--letter-spacing-5);
    padding: var(--margin-10);
    line-height: 1.5;
    text-align: center;
    width: 50%;
    color: var(--color-black);

    &:not(:last-child) {
      border-right: var(--border-ddd);
    }
  }
}
