<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-down-outline" (click)="dismiss()" class="icon-arrow"></ion-icon>
    <ion-title>Select a location</ion-title>
  </ion-toolbar>
  <ion-toolbar style="--padding-start: 0px;--padding-end: 0px;--min-height: 55px;--padding-top: 0;--padding-bottom: 0;padding: 0;">
    <ion-searchbar
      search-icon="search" 
      animated="true" 
      show-clear-button="focus" 
      clear-icon="close"
      debounce="800" 
      placeholder="Search for area, street name ...">
      <!-- (ionInput)="onSearchChange($event)" -->
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-location-main" (click)="openDeliveryLocation()">
    <div class="div-location-sub">
      <ion-img [src]="'assets/img/target.png'"></ion-img>
      <div style="width: calc(100% - 36px);">
        <ion-label>Use your current location</ion-label>
        <span>Chandur, Reddy Colony, Miryalaguda</span>
      </div>
    </div>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <div class="div-location-main">
    <div class="div-location-sub">
      <ion-icon name="add-outline" color="danger" style="margin-right: 16px;font-size: 20px;"></ion-icon>
      <div>
        <ion-label style="margin: 0;">Add address</ion-label>
      </div>
    </div>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <ion-label class="label-title">Saved addresses</ion-label>
  <div class="div-location-main" style="display: block;">
    <div class="div-location-sub">
      <div style="text-align: center;margin-right: 16px;width: 30px;">
        <ion-icon name="home-outline" style="font-size: 18px;"></ion-icon>
        <span class="span-distance">487 m</span>
      </div>
      <div style="width: calc(100% - 36px);">
        <ion-label style="color: var(--color-black);">Home</ion-label>
        <span style="color: var(--color-777);letter-spacing: 0;">Mucherla house, 3rd floor, VH67 4J, Miryalaguda</span>
        <div class="div-flex">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="div-location-main" style="display: block;">
    <div class="div-location-sub">
      <div style="text-align: center;margin-right: 16px;width: 30px;">
        <ion-icon name="home-outline" style="font-size: 18px;"></ion-icon>
        <span class="span-distance">12 m</span>
      </div>
      <div style="width: calc(100% - 36px);">
        <ion-label style="color: var(--color-black);">Home</ion-label>
        <span style="color: var(--color-777);letter-spacing: 0;">Flat no 107,sai enclave, reddy colony,First floor, Chandur, Reddy colony, Miryalaguda</span>
        <div class="div-flex">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="div-location-main" style="display: block;border-bottom: 0;">
    <div class="div-location-sub">
      <div style="text-align: center;margin-right: 16px;width: 30px;">
        <ion-icon name="home-outline" style="font-size: 18px;"></ion-icon>
        <span class="span-distance">12 m</span>
      </div>
      <div style="width: calc(100% - 36px);">
        <ion-label style="color: var(--color-black);">Home</ion-label>
        <span style="color: var(--color-777);letter-spacing: 0;">Shop no 3, Sai enclave, Reddy colony, Miryalaguda</span>
        <div class="div-flex">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <ion-label class="label-see-more">see more
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-label>
  <ion-label class="label-title">Recent locations</ion-label>
  <div class="div-location-main" style="display: block;">
    <div class="div-location-sub">
      <div style="text-align: center;margin-right: 16px;width: 30px;">
        <ion-icon name="home-outline" style="font-size: 18px;"></ion-icon>
        <span class="span-distance">11 m</span>
      </div>
      <div style="width: calc(100% - 36px);">
        <ion-label style="color: var(--color-black);">Home</ion-label>
        <span style="color: var(--color-777);letter-spacing: 0;">Flat no 107,sai enclave, reddy colony,First floor, Chandur, Reddy colony, Miryalaguda</span>
      </div>
    </div>
  </div>
</ion-content>
