<div class="div-history" >
  <div class="div-transactions-details">
      <div class="div-img">
          <ion-img src="https://cdn.dribbble.com/users/4088650/avatars/normal/open-uri20190911-3765-7rr03v?1568177943"></ion-img>         
      </div>  
      <div style="display: grid;">
          <ion-label class="h4-cutomername">Gunda Abhinav</ion-label>
          <ion-label class="h5">Bulk - 10 Properties</ion-label>
      </div> 
  </div>
  <div class="div-productdetails">
      <div class="div-product">
          <ion-img src="assets/img/dottedline.png" class="img-dotted"></ion-img>
          <ion-label class="total">₹299</ion-label>
          <div class="div-planstarts" style="margin-bottom: 30px;">
              <div class="div-icon">
                  <ion-icon name="calendar-outline"></ion-icon>
              </div>
              <div>
                  <ion-label class="h4-start" >Starts</ion-label>
                  <ion-label class="h4-items">18-06-2020</ion-label>
              </div>
          </div>
          <div class="div-planstarts">
              <div class="div-icon">
                  <ion-icon name="calendar-outline"></ion-icon>
              </div>
              <div>
                  <ion-label class="h4-start" >Ends</ion-label>
                  <ion-label class="h4-items">18-07-2020</ion-label>
              </div>
          </div>        
      </div> 
      <div class="div-transheading">
          <ion-label class="h4">pay_29QQoUBi66xm2f</ion-label>
      </div>     
  </div>  
</div>
