ion-title {
  padding-left: 40px;
  text-align: left;
}

.div-formgroup {
  margin-bottom: 16px;
  position: relative;
}

ion-footer {
  background: var(--content-background-white);
  padding: 10px;
  border-top: var(--border-ddd);
}

.btn-submit {
  --border-radius: 8px !important;
  text-transform: inherit;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0 !important;
}
