<ion-header>
    <ion-toolbar>
        <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()"></ion-icon>
        <ion-title>Commercial <span> - 2 BHK</span></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="div-fullview-main">
        <div class="div-slides">
            <swiper-container [slidesPerView]="1" [autoplay]="true" class="mySwiper">
                <swiper-slide>
                    <div class="div-img">
                        <img [src]="'https://ucarecdn.com/a64fce22-5799-45c3-b980-3d653ca8a4e6~3//nth/0/'" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="div-img">
                        <img [src]="'https://ucarecdn.com/a64fce22-5799-45c3-b980-3d653ca8a4e6~3//nth/0/'" alt="">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="div-img">
                        <img [src]="'https://ucarecdn.com/a64fce22-5799-45c3-b980-3d653ca8a4e6~3//nth/0/'" alt="">
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
        <div class="div-details-main">
            <div class="div-rent">
                <ion-label class="label-rent-title">Sale</ion-label>
                <ion-label class="label-amount">₹1.5 Cr</ion-label>
            </div>
            <ion-label class="label-title">Sai Enclave </ion-label>
            <ion-label class="h6-size" style="margin: 10px;">Hyderabad, Jubliee hills</ion-label>
            <div class="div-individual">
                <ion-label class="label-property">House Type</ion-label>
                <ion-label class="h6-size">Office</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">BHK Type</ion-label>
                <ion-label class="h6-size">4 BHK</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Bathrooms</ion-label>
                <ion-label class="h6-size">2</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Pooja Room</ion-label>
                <ion-label class="h6-size">1</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Living/Dining</ion-label>
                <ion-label class="h6-size">1</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Kitchen</ion-label>
                <ion-label class="h6-size">1</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Total Size of Property</ion-label>
                <ion-label class="h6-size">100<span>Acres</span></ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Property Size (Build up)</ion-label>
                <ion-label class="h6-size">3000<span>Sqft</span></ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Dimensions</ion-label>
                <ion-label class="h6-title" [class.bRent]="action === 'rent'" [class.bSale]="action === 'sale'">North
                    Dimensions:</ion-label>
                <ul>
                    <li><ion-label class="h6-size">North</ion-label></li>
                    <li><ion-label class="h6-size">1000<span>Sqft</span></ion-label>
                    </li>
                </ul>
                <ion-label class="h6-title" [class.bRent]="action === 'rent'" [class.bSale]="action === 'sale'">South
                    Dimensions:</ion-label>
                <ul>
                    <li><ion-label class="h6-size">South</ion-label></li>
                    <li><ion-label class="h6-size">1000<span>Sqft</span></ion-label>
                    </li>
                </ul>
                <ion-label class="h6-title" [class.bRent]="action === 'rent'" [class.bSale]="action === 'sale'">East
                    Dimensions:</ion-label>
                <ul>
                    <li><ion-label class="h6-size">East</ion-label></li>
                    <li><ion-label class="h6-size">1000<span>Sqft</span></ion-label>
                    </li>
                </ul>
                <ion-label class="h6-title" [class.bRent]="action === 'rent'" [class.bSale]="action === 'sale'">West
                    Dimensions:</ion-label>
                <ul>
                    <li><ion-label class="h6-size">West</ion-label></li>
                    <li><ion-label class="h6-size">1000<span>Sqft</span></ion-label>
                    </li>
                </ul>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Floor</ion-label>
                <ion-label class="h6-size">1</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Age of Property</ion-label>
                <ion-label class="h6-size">
                    10 Years
                </ion-label>
                <ion-label class="h6-size">
                    Under Construction
                </ion-label>
            </div>
            <div class="div-individual" style="padding-bottom: 0;">
                <ion-label class="label-property">Amenities</ion-label>
                <div>
                    <app-amentity-card></app-amentity-card>
                </div>
            </div>


            <br>
            <div class="div-individual">
                <ion-label class="label-property">Ownership</ion-label>
                <ion-label class="h6-size">Freehold</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Rent</ion-label>
                <ion-label class="h6-size">₹40000<span>rs</span></ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Cost of Property</ion-label>
                <ion-label class="h6-size">₹1.5 Cr</ion-label>
            </div>
            <div class="div-individual">
                <ion-label class="label-property">Address of Property</ion-label>
                <ion-label class="h6-size">Hyderabad, Jubliee hills</ion-label>
            </div> <br>

            <div class="div-individual">
                <ion-label class="label-property">Description</ion-label>
                <ion-label class="h6-size">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
                    quos.</ion-label>
            </div>
        </div>
    </div>
</ion-content>


<!-- <ion-footer>
    <div class="div-mobile" [class.bRent]="action === 'rent'" [class.bSale]="action === 'sale'">
        <div class="div-mobile-icon" [class.blur]="true">
            <div>
                <ion-label>Sai Enclave</ion-label>
                <ion-label>90XXXXXX90</ion-label>
            </div>

            <br>
            <div>
                <ion-label>Seller Name</ion-label>
                <ion-label>90XXXXXX90</ion-label>
            </div><br>

            <a href="tel:property.phone" style="height: 45px;">
                <ion-icon name="call-outline" [class.bRent]="action === 'rent'"
                    [class.bSale]="action === 'sale'"></ion-icon>
            </a>
        </div>
    </div>
</ion-footer> -->






<ion-footer>
    <div class="div-mobile" [class.bRent]="action === 'rent'" [class.bSale]="action === 'sale'">
        <div class="div-mobile-icon" [class.blur]="false">
            <div>
                <ion-label>{{dummyuser.fullName}}</ion-label>
                <ion-label>{{dummyuser.phone}}</ion-label>
            </div>

            <a href="tel:property.phone" style="height: 45px;">
                <ion-icon name="call-outline" [class.bRent]="action === 'rent'"
                    [class.bSale]="action === 'sale'"></ion-icon>
            </a>
        </div>
    </div>
</ion-footer>
<!-- skeleton-code -->
<!-- <ion-footer style="width: 375px;height: 80px;padding: 16px;">
    <div class="div-mobile" [class.bRent]="action === 'rent'" [class.bSale]="action === 'sale'">
        <div class="div-mobile-icon" [class.blur]="false">
            <div>
                <ion-skeleton-text [animated]="true" style="width: 174px;height: 24px;"></ion-skeleton-text>
                <ion-skeleton-text [animated]="true" style="width: 174px;height: 24px;"></ion-skeleton-text>

            </div>

            <a href="tel:property.phone" style="height: 45px;">
                <ion-skeleton-text [animated]="true"
                    style="width: 45px;height: 45px; border-radius: 100px;"></ion-skeleton-text>
            </a>
        </div>
    </div>
</ion-footer> -->