<ion-card class="venture-card">
  <swiper-container [zoom]="true" [slidesPerView]="1" loop="true" autoplay-delay="2000"
    autoplay-disable-on-interaction="false" class="mySwiper w-full">
    @for(image of venture().ventureImage; track image.id) {
    <swiper-slide>
      <div class="card-image">
        <ion-img [src]="image.image" alt="Venture Image"></ion-img>

      </div>
    </swiper-slide>
    }
  </swiper-container>
  <ion-icon name="heart-outline" class="menu-icon"></ion-icon>
  <div class="card-position">
    <div class="card-content">
      <div class="status-row">
        <span class="timestamp">{{ venture().postedDate }}</span>
        <span class="dot">•</span>
        <span class="active-status">{{ venture().ventureStatus }}</span>
      </div>

      <div class="div-img" (click)="openVentureFullview()">
        <ion-img [src]="'assets/img/onlylogo.png'"></ion-img>
        <div style="width: calc(100% - 70px);">
          <ion-label class="label-hbk" (click)="openVentureFullview()"><span>{{ venture().ventureName
              }}</span></ion-label>
          <div class="div-location-flex">
            <div style="width: 16px; margin-right: 4px;">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <ion-label class="label-address">{{ venture().ventureLocation }}</ion-label>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <div class="footer-item">
          <ion-label class="footer-label">Land</ion-label>
          <ion-label class="footer-value">{{ venture().landSize }}</ion-label>
          <ion-label class="footer-label">Acres</ion-label>
        </div>
        <div class="footer-item">
          <ion-label class="footer-label">Tower/Apt</ion-label>
          <div class="divider-section">
            <div class="divider-icon">
              <ion-icon name="home-outline"></ion-icon>
            </div>
          </div>
          @if(venture().towerName) {
          <ion-label class="footer-value" style="font-size: 12px;">{{ venture().towerName }}</ion-label>
          } @else {
          <ion-label class="footer-value" style="font-size: 12px;">{{ venture().totalTowers }} Towers</ion-label>
          }
        </div>
        <div class="footer-item">
          <ion-label class="footer-label">Price</ion-label>
          <ion-label class="footer-value">₹{{ venture().pricePerSqft }}</ion-label>
          <ion-label class="footer-label">Per Sqft</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-card>