<div class="div-product-main">
    <app-post-user-header></app-post-user-header>
    <div class="div-img">

        <br> <ion-img src="assets/img/dummy/house3.png"></ion-img><br>

        <swiper-container style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [spaceBetween]="30"
            [zoom]="true" [autoplay]="{delay: 5000,disableOnInteraction: false}" [centeredSlides]="true"
            [pagination]="{clickable: true}" class="mySwiper">
            <!-- <swiper-slide>
                <ion-img class="slide" src="https://ucarecdn.com/882d06f0-0cb7-44b0-a4e7-eafb7d811699/"></ion-img>
            </swiper-slide> -->
        </swiper-container>

    </div>
    <div class="div-details">
        <div class="div-rent">
            <ion-label class="label-rent-title">Rent</ion-label>
            <ion-label class="h4-rent">10000</ion-label>
        </div>
        <ion-label class="label-hbk" (click)="openFullview()"><span>2
            </span><span>&nbsp;&mdash;&nbsp;BHK</span></ion-label>
        <ion-label class="label-address">123, New York, USA</ion-label>
    </div>
    <app-post-likes></app-post-likes>
</div>




<!-- <div class="div-product-main" style="display: none;">
    <app-post-user-header></app-post-user-header>
    <div class="div-img">
        <swiper-container style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff" [spaceBetween]="30"
            [zoom]="true" [autoplay]="{delay: 5000,disableOnInteraction: false}" [centeredSlides]="true"
            [pagination]="{clickable: true}" class="mySwiper">
            <swiper-slide>
                <ion-skeleton-text [animated]="true"
                    style="height: 250px;width: 321px; border-radius:15px;"></ion-skeleton-text>
            </swiper-slide>
        </swiper-container>
    </div>
    <div class="div-details">
        <div class="div-rent">
            <ion-skeleton-text [animated]="true"
                style="height:29px;width:67px;border-radius:100px; "></ion-skeleton-text>
            <ion-skeleton-text [animated]="true"
                style="height:27px;width:157px;border-radius:100px; "></ion-skeleton-text>
        </div>
        <ion-skeleton-text [animated]="true" style="height:25px;width:200px; "></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height:36px;width:301px; "></ion-skeleton-text>
    </div>
    <app-post-likes></app-post-likes>
</div> -->