<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()" />
    <ion-title>
      Sai Enclave Floor Details
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-tower-box">
    <div class="div-title-section">
      <div style="position: relative;margin-right: 16px;">
        <ion-img [src]="'https://5.imimg.com/data5/SELLER/Default/2021/6/DU/LC/XB/83763009/3d-floor-plan-design-3--500x500.jpg'" />
        <ion-label class="label-floor-title">First Floor</ion-label>
      </div>
      <div class="div-property-details">
        <div class="div-details-sub">
          <ion-label style="padding: 10px 0;">
            <span>Carpet Area</span>
            6.10 Acres
          </ion-label>
          <ion-label style="padding: 10px 0;">
            <span>Balcony Area</span>
            1.10 Acres
          </ion-label>
          <ion-label style="padding: 10px 0;">
            <span>Common Area</span>
            1.10 Acres
          </ion-label>
          <ion-label style="padding: 10px 0;">
            <span>Saleable Area</span>
            8.30 Acres
          </ion-label>
        </div>
      </div>
    </div>
    <div class="div-flat-nos">
      <div class="div-icon sold" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower2.png" />
        <ion-label>101</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>102</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>103</ion-label>
      </div>
      <div class="div-icon sold" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower2.png" />
        <ion-label>104</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>105</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>106</ion-label>
      </div>
      <div class="div-icon sold" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower2.png" />
        <ion-label>107</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>108</ion-label>
      </div>
    </div>
  </div>
  <div class="div-tower-box">
    <div class="div-title-section">
      <div style="position: relative;margin-right: 16px;">
        <ion-img [src]="'https://5.imimg.com/data5/SELLER/Default/2021/6/DU/LC/XB/83763009/3d-floor-plan-design-3--500x500.jpg'" />
        <ion-label class="label-floor-title">Second Floor</ion-label>
      </div>
      <div class="div-property-details">
        <div class="div-details-sub">
          <ion-label style="padding-bottom: 10px;">
            <span>Carpet Area</span>
            6.10 Acres
          </ion-label>
          <ion-label style="padding-bottom: 10px;">
            <span>Balcony Area</span>
            1.10 Acres
          </ion-label>
          <ion-label style="padding-top: 10px;">
            <span>Common Area</span>
            1.10 Acres
          </ion-label>
          <ion-label style="padding-top: 10px;">
            <span>Saleable Area</span>
            8.30 Acres
          </ion-label>
        </div>
      </div>
    </div>
    <div class="div-flat-nos">
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>201</ion-label>
      </div>
      <div class="div-icon sold" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower2.png" />
        <ion-label>202</ion-label>
      </div>
      <div class="div-icon sold" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower2.png" />
        <ion-label>203</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>204</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>205</ion-label>
      </div>
      <div class="div-icon sold" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower2.png" />
        <ion-label>206</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>207</ion-label>
      </div>
      <div class="div-icon" (click)="openVentureFlatDetails()">
        <ion-img src="assets/img/tower.png" />
        <ion-label>208</ion-label>
      </div>
    </div>
  </div>
</ion-content>