<ion-content [scrollY]="false" (click)="dismiss()">
  <div class="div-alert-box">
    <div class="div-img">
      <ion-img src="assets/img/discount.png" />
    </div>
    <ion-icon name="close-outline" (click)="dismiss()" />
    <ion-label class="label-main-title">"RT12345" applied</ion-label>
    <ion-label class="label-sub-title">"Your cashback coupon RT12345 is successfully applied. Cashback will be processed in 1 day</ion-label>
    <ion-label class="label-reaction">Wow !</ion-label>
  </div>
</ion-content>