ion-header {
    background: var(--white);

    ion-toolbar {
        --min-height: 60px;
        --background: #fff;

        ion-icon {
            font-size: 22px;
            color: #000;
        }

        ion-back-button {
            letter-spacing: 0.5px;
            --color: #34353a;
        }

        ion-title {
            --color: #000;
            padding: 0 15px !important;
            text-align: left !important;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: none;
            display: block;
            position: relative !important;
            left: 0;
            overflow: visible !important;
        }
    }
}

ion-content {
    --background: #f6f9fa;
}

.div-flat-main {
    padding: 16px;
}

.div-flat-sub:not(:last-child) {
    margin-bottom: 16px;
}

.div-flat-sub {
    border-radius: 6px;
    overflow: hidden;
    background: #fff;

    .div-no-price {
        padding: 16px;

        .div-number {
            // height: 70px;
            // width: 70px;
            // border-radius: 50%;
            // background: rgb(94 124 204 / 15%);
            // margin: auto;
            // margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .label-no {
                line-height: 0.85;
                color: #0c77c1;
                font-size: 60px;
                font-weight: 600;
                letter-spacing: 0.5px;
                display: block;
            }
        }

        .label-price {
            line-height: 1;
            font-weight: 600;
            display: block;
            color: #000;
            /* font-size: 14px; */
            margin-bottom: 10px;
        }
    }

    .div-view-add {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background: #0c77c1;
    }
}

.div-view {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ion-icon {
        color: #fff;
        margin-right: 5px;
    }

    ion-label {
        display: block;
        line-height: 1;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}

.div-view1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ion-icon {
        color: #3880ff;
        margin-right: 5px;
    }

    ion-label {
        display: block;
        line-height: 1;
        color: #3880ff;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
}

.label-soldout {
    color: red !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}