<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start"><ion-icon name="chevron-back-outline" (click)="dismiss()"></ion-icon></ion-buttons>
      <ion-title>
         Saved Properties
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-ventures" *ngIf="savedProperties?.length > 0">
    <div *ngFor="let savedProperty of savedProperties;let i= index">
      <app-savedpropertycard [user]="user" [property]="savedProperty"></app-savedpropertycard>
    </div>    
  </div>

  <app-savedpropertycard></app-savedpropertycard>
</ion-content>
