<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-arrow" (click)="dismiss()"></ion-icon>
    <ion-title>Flat Configuaration</ion-title>
    <ion-button *ngIf="action === 'display'" size="small" color="warning" (click)="action = 'dataEntry'">Edit</ion-button>
    <ion-button *ngIf="action === 'dataEntry'" size="small" color="light" (click)="action = 'display'">View</ion-button>
    <!-- <ion-icon *ngIf="flat.configured" (click)="copyConfiguration()" class="icon-copy" name="copy-outline"></ion-icon> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-form-main" *ngIf="action === 'dataEntry'">
    <div class="div-formgroup">
      <!-- <ion-label>Select BHK Type</ion-label> -->
      <ion-select [(ngModel)]="flat.bhkType" placeholder="Select BHK Type" class="select-settings" interface="action-sheet">
          <ion-select-option value="1BHK">1BHK</ion-select-option>
          <ion-select-option value="2BHK">2BHK</ion-select-option>
          <ion-select-option value="3BHK">3BHK</ion-select-option>
          <ion-select-option value="4BHK">4BHK</ion-select-option>
          <ion-select-option value="5BHK">5BHK</ion-select-option>
          <ion-select-option value="+5BHK">+5BHK</ion-select-option>
      </ion-select>     
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.toilets" type="number" placeholder="Toilets"></ion-input>
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.poojaRoom" type="number" placeholder="Pooja Room"></ion-input>
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.livingDining" type="number" placeholder="Living/Dining"></ion-input>
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.kitchen" type="number" placeholder="Kitchen"></ion-input>
    </div>
    <div class="div-input-select">
      <!-- <ion-label>Enter North Dimensions</ion-label> -->
      <div class="div-input-select-sub">
          <ion-input class="input-settings" [(ngModel)]="flat.northFacing" placeholder="North Face" type="text"></ion-input>
          <ion-input class="input-settings2" [(ngModel)]="flat.northSize" placeholder="Size" type="number" style="margin-right: 5px;"></ion-input>
          <ion-select class="select-settings" [(ngModel)]="flat.units" placeholder="Units">
              <ion-select-option value="Feet">Feet</ion-select-option>
              <ion-select-option value="Yard">Yard</ion-select-option>
              <ion-select-option value="Mtr">Mtr</ion-select-option>
              <ion-select-option value="Acre">Acre</ion-select-option>
          </ion-select>
      </div>
    </div>
    <div class="div-input-select">
        <!-- <ion-label>Enter South Dimensions</ion-label> -->
        <div class="div-input-select-sub">
            <ion-input class="input-settings" [(ngModel)]="flat.southFacing" placeholder="South Face" type="text"></ion-input>
            <ion-input class="input-settings2" [(ngModel)]="flat.southSize" placeholder="Size" type="number"></ion-input>
            <div class="div-label">
                <ion-label>{{flat.units || 'Ft'}}</ion-label>
            </div>
        </div>
    </div>
    <div class="div-input-select">
        <!-- <ion-label>Enter East Dimensions</ion-label> -->
        <div class="div-input-select-sub">
            <ion-input class="input-settings" [(ngModel)]="flat.eastFacing" placeholder="East Face" type="text"></ion-input>
            <ion-input class="input-settings2" [(ngModel)]="flat.eastSize" type="number" placeholder="Size"></ion-input>
            <div class="div-label">
                <ion-label>{{flat.units || 'Ft'}}</ion-label>
            </div>
        </div>
    </div>
    <div class="div-input-select">
        <!-- <ion-label>Enter East Dimensions</ion-label> -->
        <div class="div-input-select-sub">
            <ion-input class="input-settings" [(ngModel)]="flat.westFacing" placeholder="West Face" type="text"></ion-input>
            <ion-input class="input-settings2" [(ngModel)]="flat.westSize" type="number" placeholder="Size"></ion-input>
            <div class="div-label">
                <ion-label>Ft</ion-label>
            </div>
        </div>
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.carpetArea" type="number" placeholder="Enter Carpet Area"></ion-input>
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.balconyArea" type="number" placeholder="Enter Balcony Area"></ion-input>
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.commonArea" type="number" placeholder="Enter Common Area"></ion-input>
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.saleableArea" type="number" placeholder="Enter Saleable Area"></ion-input>
    </div>
    <div class="div-formgroup">
      <ion-input class="input-settings" [(ngModel)]="flat.costOfProperty" type="number" placeholder="Enter Cost of Property"></ion-input>
    </div>
    <div class="div-formgroup flex">
      <ion-label style="margin: 0;">Amenities</ion-label>   
      <ion-button size="small" (click)="amenitiesList()">
          <ion-icon slot="start" name="add"></ion-icon>
          Add 
      </ion-button> 
    </div>
    <div class="div-amenities" *ngIf="flat.amenities.length > 0">
      <h4 *ngFor="let amenity of flat.amenities">{{amenity}}</h4>        
    </div> 
    <!-- <div class="div-formgroup">
      <ion-input class="input-settings" type="number" placeholder="Enter Cost of Property"></ion-input>
    </div> -->
    <div class="div-upload">
      <div class="file-select">
      <div class="div-choosefile ">
        <ngx-uploadcare-widget 
          class="post-entry-btn"
          #uc
          (on-upload-complete)="onFlatLayoutComplete($event)"
          [multiple]="true" 
          [multiple-max]="3"          
          data-crop="300:300"
          [images-only] = true
          public-key="563d1afa2618816d4d42">
        </ngx-uploadcare-widget>
        
        </div>
        <ion-label class="upload-label">Upload Layout</ion-label>
      </div>
    </div>
    <swiper-container
    [autoplay]="{delay: 5000,disableOnInteraction: false}"
    [centeredSlides]="true"
    class="mySwiper" *ngIf="flat.layout.length > 0">
        <swiper-slide *ngFor="let img of flat.layout;let i=index">
          <!-- <ion-icon name="trash" (click)="deleteImg(i)" class="ion-icon-settings"></ion-icon> -->
          <ion-img class="slide" [src]="img"></ion-img>
        </swiper-slide>
    </swiper-container>

    <div class="div-upload">
      <div class="file-select">
      <div class="div-choosefile ">
        <ngx-uploadcare-widget 
          class="post-entry-btn"
          #uc
          (on-upload-complete)="onFlatImagesComplete($event)"
          [multiple]="true" 
          [multiple-max]="3"          
          data-crop="300:300"
          [images-only] = true
          public-key="563d1afa2618816d4d42">
        </ngx-uploadcare-widget>
        
        </div>
        <ion-label class="upload-label">Upload Images</ion-label>
      </div>
    </div>
    <swiper-container
    [autoplay]="{delay: 5000,disableOnInteraction: false}"
    [centeredSlides]="true"
    class="mySwiper" *ngIf="flat.resources.length > 0">
        <swiper-slide *ngFor="let img of flat.resources;let i=index">
          <!-- <ion-icon name="trash" (click)="deleteImg(i)" class="ion-icon-settings"></ion-icon> -->
          <ion-img class="slide" [src]="img"></ion-img>
        </swiper-slide>
    </swiper-container>
    <div class="div-upload">
      <div class="file-select">
      <div class="div-choosefile ">
        <ngx-uploadcare-widget 
          class="post-entry-btn"
          #uc
          [multiple]="false" 
          [multiple-max]="3"          
          data-crop="300:300"
          [images-only] = true
          public-key="563d1afa2618816d4d42">
        </ngx-uploadcare-widget>
        
        </div>
        <ion-label class="upload-label">Upload Video</ion-label>
      </div>
    </div>
    <div class="div-video-display">
      <video width="320" height="240" controls>
          <source src="assets/img/dummy/testvideo.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
      <ion-icon name="trash-outline"></ion-icon>
  </div>
  </div>
  <div class="div-form-main" *ngIf="action === 'display'">
    <div class="div-details-display">
      <div style="text-align: center;">
        <ion-label class="label-hbk">{{flat.bhkType}}</ion-label>
      </div>
      <div class="div-title-flex">
        <div class="div-title-value">
          <ion-label>
            <span>Toiltes</span>
            {{flat.toilets || 0}}
          </ion-label>
        </div>
        <div class="div-title-value">
          <ion-label>
            <span>Pooja Room</span>
            {{flat.poojaRoom || 0}}
          </ion-label>
        </div>
        <div class="div-title-value">
          <ion-label>
            <span>Living/Dining</span>
            {{flat.livingDining || 0}}
          </ion-label>
        </div>
        <div class="div-title-value">
          <ion-label>
            <span>Kitchen</span>
            {{flat.kitchen || 0}}
          </ion-label>
        </div>
        <div class="div-title-value">
          <ion-label>
            <span>Carpet area</span>
            {{flat.carpetArea}} Sft
          </ion-label>
        </div>
        <div class="div-title-value">
          <ion-label>
            <span>Balcony area</span>
            {{flat.balconyArea}} Sft
          </ion-label>
        </div>
        <div class="div-title-value">
          <ion-label>
            <span>Common area</span>
            {{flat.commonArea}} Sft
          </ion-label>
        </div>
        <div class="div-title-value">
          <ion-label>
            <span>Saleable area</span>
            {{flat.saleableArea}} Sft
          </ion-label>
        </div>
      </div>
      <ion-label class="label-layout">Dimensions</ion-label>
      <div class="div-dimension-sub">
        <ion-label class="label-face">North Face</ion-label>
        <div class="div-face">
          <ion-label>{{flat.northFacing}}</ion-label>
          <ion-label>{{flat.northSize}} {{flat.units}}</ion-label>
        </div>
      </div>
      <div class="div-dimension-sub">
        <ion-label class="label-face">South Face</ion-label>
        <div class="div-face">
          <ion-label>{{flat.southFacing}}</ion-label>
          <ion-label>{{flat.southSize}} {{flat.units}}</ion-label>
        </div>
      </div>
      <div class="div-dimension-sub">
        <ion-label class="label-face">East Face</ion-label>
        <div class="div-face">
          <ion-label>{{flat.eastFacing}}</ion-label>
          <ion-label>{{flat.eastSize}} {{flat.units}}</ion-label>
        </div>
      </div>
      <div class="div-dimension-sub">
        <ion-label class="label-face">West Face</ion-label>
        <div class="div-face">
          <ion-label>{{flat.westFacing}}</ion-label>
          <ion-label>{{flat.westSize}} {{flat.units}}</ion-label>
        </div>
      </div>
      <ion-label class="label-layout">Amenities</ion-label>
      <div class="div-amenities">
        <div class="div-amenity" *ngFor="let amenity of flat.amenities">
          <div class="div-title">
            <div class="div-img">
              <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/realtorone-210b5.appspot.com/o/amenities%2F1669378985878_cctv.png?alt=media&token=13beec28-b3f6-4aa2-a525-f5b702cf2a98'"></ion-img>
            </div>
            <ion-label>{{amenity}}</ion-label>
          </div>        
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
        </div>
      </div>
    </div>
    <div class="div-all-images">
      <ion-label class="label-layout">Layout</ion-label>
      <div style="margin-bottom: 16px;">
        <swiper-container
          [autoplay]="{delay: 5000,disableOnInteraction: false}"
          [centeredSlides]="true"
          class="mySwiper">
          <swiper-slide *ngFor="let img of flat.layout">
          <ion-img class="slide" [src]="img"></ion-img>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
    <div class="div-all-images">
      <ion-label class="label-layout">Images</ion-label>
      <div style="margin-bottom: 16px;">
        <swiper-container
          [autoplay]="{delay: 5000,disableOnInteraction: false}"
          [centeredSlides]="true"
          class="mySwiper">
          <swiper-slide *ngFor="let img of flat.resources">
            <ion-img class="slide" [src]="img"></ion-img>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
    <ion-label class="label-layout">Videos</ion-label>
    <div class="div-video-display">
      <video width="320" height="240" controls>
          <source src="assets/img/dummy/testvideo.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
      <ion-icon name="trash-outline"></ion-icon>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="action === 'dataEntry'">
  <ion-button class="ion-button-settings" (click)="submit()"  size="small" expand="block" color="warning">
    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span> 
    {{loading ? "...." : 'Submit'}}
</ion-button>
</ion-footer>