<ion-header>
  @if (company$| async; as company) {
    <ion-toolbar style="--min-height: 75px;">
      <ion-buttons slot="start"><ion-icon class="icon-back" name="chevron-back-outline" (click)="dismiss()" /></ion-buttons>
      <div class="div-img" >
        <!-- <ion-img (click)="openImageModal([company.photoURL], company.companyName)" [src]="company.photoURL"></ion-img> -->
        <ion-img [src]="'assets/img/dummy/house2.jpg'" />
        <div class="div-name">
          <ion-label class="h6-username"> Arha Constructions
            <!-- <span class="span-active">&#x25CF;</span>
            <span class="span-inactive">&#x25CF;</span> -->
          </ion-label>
        </div>
      </div>
    </ion-toolbar>
  }
</ion-header>
<ion-content>
  <app-companybanners />
  <ion-toolbar class="ion-toolbar-settings">
    <ion-segment mode="ios" value="aboutus" (ionChange)="segmentChanged($event)">
      <!-- <ion-segment-button value="products">
      <ion-label>Products</ion-label>
    </ion-segment-button> -->
    <ion-segment-button value="aboutus">
      <ion-label>About&nbsp;Us</ion-label>
    </ion-segment-button>
    <ion-segment-button value="media">
      <ion-label>Media</ion-label>
    </ion-segment-button>
    <ion-segment-button value="team">
      <ion-label>Team</ion-label>
    </ion-segment-button>
    <ion-segment-button value="events">
      <ion-label>Events</ion-label>
    </ion-segment-button>
    <ion-segment-button value="certificates">
      <ion-label>Certificates</ion-label>
    </ion-segment-button>
    <ion-segment-button value="branches">
      <ion-label>Branches</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<!-- <div *ngIf = "action === 'products'">
<app-companyproducts></app-companyproducts>
</div> -->
@if (action === 'aboutus') {
  <div>
    <app-companyabout />
  </div>
}
@if (action === 'media') {
  <div>
    <app-companymedia />
  </div>
}
@if (action === 'team') {
  <div>
    <app-companyteam />
  </div>
}
@if (action === 'events') {
  <div>
    <app-companyevents />
  </div>
}
@if (action === 'certificates') {
  <div>
    <app-companycertificates />
  </div>
}
@if (action === 'branches') {
  <div>
    <app-companybranches />
  </div>
}
</ion-content>