<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="ellipsis-horizontal" class="icon-ellipsis" />
    <ion-title>Chats</ion-title>
    <div class="div-icon-flex">
      <ion-icon name="camera" />
      <ion-icon name="add-circle" />
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="--min-height: 40px !important;">
      <ion-title size="large" style="font-size: 34px;letter-spacing: 0px;line-height: 1;">Chats</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar
    style="
      --padding-start: 0px;
      --padding-end: 0px;
      --min-height: 55px;
      --padding-top: 0;
      --padding-bottom: 0;
    "
  >
    <!-- <ion-icon class="icon-microphone" name="mic-outline"></ion-icon> -->
    <ion-searchbar [placeholder]="'Ask Meta AI or Search'"
      [formControl]="searchCtrl"
     />
  </ion-toolbar>
  <div class="div-tabs">
    <ion-label
      [class.active]="chatSegment() === 'all'"
      (click)="chatSegment.set('all')"
      >All</ion-label
    >
    <ion-label
      [class.active]="chatSegment() === 'unRead'"
      (click)="chatSegment.set('unRead')"
      >Unread</ion-label
    >
  </div>
  <div class="div-chat-box">
    @for(personalChat of chats(); track $index){
    <!---->
    @let show = showChats().includes(personalChat?.id || personalChat?.objectID
    || '') ;
    <app-individual-box [style.display]="show ? 'block' : 'none'"
      [personalChat]="personalChat"
      (chatData)="chatDataUpdate($event)"
     />
    }
  </div>
</ion-content>

<!-- skeleton-code-start -->
<ion-header style="display: none">
  <ion-toolbar>
    <div class="div-flex-header">
      <ion-skeleton-text animated="true"
        style="width: 35px; height: 35px; border-radius: 50%"
       />

      <ion-skeleton-text animated="true"
        style="width: 138px; height: 27px; margin-left: 10px"
       />
    </div>
    <div class="div-icon" (click)="openNotifications()">
      <ion-skeleton-text animated="true"
        style="width: 35px; height: 35px"
       />
    </div>
  </ion-toolbar>
</ion-header>
<!-- skeleton-code-end -->
