<ion-header>
  <ion-toolbar>
    <ion-title>Delete Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <span>Deleting your account will remove all your data, images, and documents. This cannot be undone.</span>
  <ion-label class="label-title">Are you sure you want to delete?</ion-label>

  <!-- <div class="error" *ngIf="deleteAccError">
    <ion-icon name="information-circle"></ion-icon>
    <span  class="note-file">{{deleteAccError}}</span>
</div> -->
  <ion-button expand="block">Delete</ion-button>
  <!-- (click)="submit($event)" -->
</ion-content>