ion-content {
  --background: var(--content-background);
}

ion-title {
  text-align: left;
  padding-left: 40px;
}

.div-formgroup {
  margin: 12px 0;
  position: relative;
}

.img-icon {
  position: absolute;
  top: -66px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  object-fit: contain;
}

ion-img::part(image) {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

ion-footer {
  padding: 12px;
  background: var(--content-background-white);
}

ion-button {
  font-weight: 500;
  --border-radius: 6px;
  margin: 0;
  text-transform: capitalize;
}

.container {
  padding: 12px;
  text-align: center;
  background: #cd1041;
  position: absolute;
  top: -120px;
  border-radius: 6px;
  left: 0;
  right: 0;
}

.animate-charcter {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  text-transform: inherit;
  background-image: linear-gradient(
    -225deg,
    #000 0%,
    #fff 29%,
    #ff1361 67%,
    #fff800 100%
  );
  animation: textclip 4s linear infinite;
}

.div-profile-main {
  background-color: var(--content-background-white);
  padding: 16px;
  margin-top: 80px;
  padding-top: 80px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-profile-main-img {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: var(--content-background-white);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  box-shadow: 0 7px 14px -6px #eee;
}

.div-img-settings {
  position: relative;
  height: 104px;
  width: 104px;
  display: grid;
  place-items: center;

  ion-img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
  }

  .icon-edit {
    position: absolute;
    font-size: 16px;
    bottom: -8px;
    right: -8px;
    background: var(--content-background);
    padding: 6px;
    border-radius: 50%;
    color: var(--color-red);
  }
}

.span-verified {
  position: absolute;
  color: var(--green);
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 2;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.span-verify {
  position: absolute;
  color: var(--color-blue);
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 2;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 12px;
  padding-right: 0px;
}

.label-info {
  color: var(--red);
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: start;
  gap: 8px;

  ion-icon {
    font-size: 18px;
    color: var(--red);
  }
}
