<div class="div-ventors">
  <div class="div-banners">
    <div class="div-slides">
      <swiper-container [autoplay]="{delay: 5000,disableOnInteraction: false}" [centeredSlides]="true" class="mySwiper">
        <swiper-slide>
          <ion-img class="slide" src="https://ucarecdn.com/a64fce22-5799-45c3-b980-3d653ca8a4e6~3//nth/0/"></ion-img>
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="div-ventortitle">
      <div class="div-details">
        <div class="div-img">
          <ion-img [src]="'assets/img/onlylogo.png'"></ion-img>
          <div style="width: calc(100% - 70px);">
            <ion-label class="label-hbk" (click)="openVentureFullview(venture())"><span>Sankar
                Constructions</span></ion-label>
            <div class="div-location-flex">
              <ion-icon name="location-outline"></ion-icon>
              <ion-label class="label-address">18-1350, Ashok Nagar, Near Sitting Gandhi , Miryalaguda, Nalgonda Dist - 508207</ion-label>
            </div>
          </div>
        </div>
        <div class="div-flex">
          <table class="table table-bordered">
            <thead>
              <th>Tower/Apt Name</th>
              <th>Sold</th>
              <th>Left</th>
            </thead>
            <tbody>
              <tr>
                <td>Sai Enclave</td>
                <td>500</td>
                <td>120</td>
              </tr>
              <tr>
                <td>Pushpamma Apartments</td>
                <td>136</td>
                <td>163</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>