ion-title {
  text-align: left;
  padding-left: 40px;
}

.div-header {
  margin-bottom: 24px;
  .label-heading {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-black);
    letter-spacing: 0.5px;
    display: block;
  }

  .label-steps {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-777);
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    gap: 6px;

    .label-steps-count {
      font-size: 12px;
      font-weight: 800;
      color: var(--color-skyblue);
      letter-spacing: 0.5px;
    }
  }
}

.div-venture-type {
  margin-bottom: 24px;
  .label-venture-type {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-black);
    letter-spacing: 0.5px;
  }

  .div-venture-type-options {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 10px;

    .span-venture-type-option {
      font-size: 12px;
      font-weight: 500;
      color: var(--color-skyblue);
      letter-spacing: 0.5px;
      background: #eff6ff;
      padding: 6px 12px;
      border-radius: 100px;
    }
  }
}

.active {
  background: var(--background-main) !important;
  color: var(--color-white) !important;
}

.div-formgroup {
  margin-bottom: 16px;
  position: relative;
}

.div-detect-location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  .img-detect-location {
    width: 16px;
    height: 16px;
  }

  .span-detect-location {
    font-size: 12px;
    color: var(--color-skyblue);
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}
