ion-title {
  text-align: left;
  padding-left: 40px;
}

ion-content {
  --background: var(--content-background);
}

.div-title-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;

  ion-label {
    color: var(--color-black);
    padding: calc(var(--margin-20) * 0) var(--margin-16) !important;
    padding-left: calc(var(--margin-20) * 0) !important;
    text-align: center !important;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-700);
    letter-spacing: var(--letter-spacing);
    text-transform: none;
  }
}

ion-fab-button {
  width: 60px;
  height: 60px;
  filter: drop-shadow(4px 4px 4px #777);
  filter: var(--fabfilter);

  img {
    height: 30px;
  }
}

.div-search-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // background: var(--card-background-white);
  // padding: 10px;

  ion-icon {
    padding-left: calc(var(--margin-20) / 2);
    font-size: calc(var(--font-size-20) * 1.5);
    color: var(--color-999);
  }
}

.div-filter-padding {
  padding: 16px;
  padding-top: calc(var(--margin-10) * 7);
}

.div-padding {
  padding: var(--margin-16);
  padding-top: calc(var(--margin-10) * 12);
}

.span-apply {
  margin: calc(var(--margin-20) * 0);
  font-size: calc(var(--font-size-20) / 2);
  font-weight: var(--font-weight-700);
  --border-radius: var(--border-radius-4);
  letter-spacing: var(--letter-spacing);
  text-transform: inherit;
  margin-left: calc(var(--margin-20) / 2);
  height: 36px;
  color: var(--color-black);
}
