<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()"></ion-icon>
    <ion-title>My properties</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div *ngIf="properties?.length > 0">
    <app-propertybox *ngFor="let property of properties" [user]="user" [hit]="property"></app-propertybox>  
  </div>  -->
  <div class="">
    @for (property of properties(); track property) {
    <app-my-property-card [property]="property"></app-my-property-card>
    }
  </div>
</ion-content>