ion-title {
  text-align: left;
  padding-left: 40px;
}

.div-main {
  padding: 16px;
}

.div-description {
  background: var(--content-background-white);
  border: var(--border);
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;

  .div-label {
    padding: 16px;

    .title {
      --padding-bottom: 16px;

      ion-label {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: var(--color-main);
      }
    }
  }
}

.title {
  padding: 10px 0;

  ion-label {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-black);
    letter-spacing: 0.5px;
  }
}

.description {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.5px;
  word-break: break-word;
  line-height: 1.5;
  color: var(--color-black);

  span {
    color: #34353a;
    font-size: 15px;
    font-weight: 700;
  }
}

ion-header {
  overflow: hidden;
}
.leave {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--color-black);
}

.div-select {
  display: flex;
  align-items: center;

  ion-select {
    margin-right: 10px;
  }
}

ion-footer {
  padding: 10px;
  border-top: var(--border-ddd);
  background: var(--content-background-white);
}

ion-button {
  --border-radius: 8px;
  margin: 0;
  text-transform: inherit;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: 0 6px 10px -4px #777;
}
