<ion-header>
  <ion-toolbar>
      <div class="div-header">
          <div class="div-icon-name">
              <!-- <ion-icon name="arrow-back" slot="start" (click)="dismiss()" class="icon-close"></ion-icon> -->
              <div class="div-titles">
                  <ion-label class="label-title">{{chatsData.selectContact}}</ion-label>
                  <ion-label class="label-nos">560 {{chatsData.contacts}}</ion-label>
              </div>
          </div>
          <div class="div-search-more">
              <ion-icon name="search-outline"></ion-icon>
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </div>
      </div>
      <!-- <div class="div-header1">
          <ion-icon name="arrow-back" slot="start" (click)="dismiss()" class="icon-close"></ion-icon>
          <ion-searchbar showCancelButton="focus"></ion-searchbar>
      </div> -->
  </ion-toolbar>
</ion-header>
<ion-content>    
  <div class="div-chat-box">       
      <!-- <div class="div-chat-individual">
          <div class="div-chat-img1">
              <ion-icon name="people-outline"></ion-icon>
          </div>
          <div class="div-chat-name">
              <ion-label class="p-settings">New Group</ion-label>
          </div>
      </div>    
      <div class="div-chat-individual">
          <div class="div-chat-img1">
              <ion-icon name="person-add-outline"></ion-icon>
          </div>
          <div class="div-chat-name">
              <ion-label class="p-settings">New Contact</ion-label>
          </div>
      </div>     -->
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/mike.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <ion-label class="p-settings">Gunda Ajay Kumar</ion-label>
              <ion-label class="p-settings1">Available</ion-label>
          </div>
      </div>    
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/ryan.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <ion-label class="p-settings">Pogula Srinu</ion-label>
              <ion-label class="p-settings1">I Love my parents</ion-label>
          </div>
      </div>    
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/james.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <ion-label class="p-settings">Pogula Sathish Kumar</ion-label>
              <ion-label class="p-settings1">I Love my country</ion-label>
          </div>
      </div>    
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/mike.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <ion-label class="p-settings">Donda Venkanna</ion-label>
              <ion-label class="p-settings1">Available</ion-label>
          </div>
      </div> 
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/michael.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <ion-label class="p-settings">Shivakoti Narendar</ion-label>
              <ion-label class="p-settings1">Available</ion-label>
          </div>
      </div>    
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/olivia.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <ion-label class="p-settings">Jetty Naimeesha</ion-label>
              <ion-label class="p-settings1">Hi Hello</ion-label>
          </div>
      </div>       
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/marie.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <p class="p-settings">Sanjay Sahoo</p>
              <p class="p-settings1">Available</p>
          </div>
      </div>    
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/ryan.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <p class="p-settings">Gundeboina Shekar</p>
              <p class="p-settings1">Available</p>
          </div>
      </div>    
      <div class="div-chat-individual" (click)="openChatFullview()">
          <div class="div-chat-img">
              <ion-img src="assets/img/emilyz.jpg" class="img-chat"></ion-img>
          </div>
          <div class="div-chat-name">
              <p class="p-settings">Pogula Srikanth</p>
              <p class="p-settings1">Available</p>
          </div>
      </div>    
  </div>
</ion-content>