
.div-flex {
    display: flex;
    align-items: center;
    background: var(--background-main);
    padding: 10px;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    z-index: 999;
}

ion-button:not(:last-child) {
    margin-right: 10px;
}

ion-button {
    --border-radius: 6px;
    margin: 0;
    text-transform: inherit;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 50%;
}
.martop {
    margin-top: 60px;
}