.div-form-main {
    margin: 16px;
}

.icon-arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--color-white);
    font-size: 24px;
    z-index: 9;
}

.input-settings {
    background: var(--content-background-white);
    --padding-start: 10px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 4px;
    border: var(--border);
    color: var(--color-black);
    // --placeholder-opacity: 1;
    --placeholder-color: var(--color-black);
}

.div-formgroup {
    margin-bottom: 16px;
}

.ion-button-settings {
    --border-radius: 4px;
    margin: 0;
    // margin-top: 20px;
    text-transform: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    filter: var(--filter);
}


.file-select {
    display: flex;
    align-items: center;
    border: var(--border-ddd);
    color: var(--color-main);
    cursor: pointer;
    background: var(--content-background-white);
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    margin-bottom: 16px;
  }
  
  .file-select .file-select-button {
    background: #354a5f;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: var(--color-white);
    font-weight: 500;
    font-size: 12px;
  }
  
  .file-select .file-select-name {
    line-height: 38px;
    display: inline-block;
    padding: 0 14px;
    font-size: 12px;
    border: 1px solid;
    color: var(--color-black);
  }
  
  .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }


  .div-img-main {
    height: 120px;
    width: 120px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      height: auto;
      width: 150px;
      object-fit: contain;
    }
}

.div-dataimg2 {
    margin-bottom: 16px;
    margin-left: auto;

    .div-uploading {
      height: 200px;
      width: auto;
      position: relative;
      /* padding: 16px; */
      /* background: #354a5f; */
      border-radius: 10px;
      overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            border-radius: 4px;
            object-fit: cover;
        }

        ion-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            background: red;
            font-weight: 600;
            border-radius: 4px;
            padding: 5px;
            color: var(--color-white);
            cursor: pointer;
        }
    }
}

.div-upload-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    // width: calc(100% - 205px);
    margin-left: auto;
    background: #f7f7f7;
    margin-bottom: 16px;
  
    .div-percentage {
      width: 100%;
      background-color: #ddd;
      border-radius: 30px;
      height: 10px;
      margin-bottom: 16px;
      margin-right: 24px;
  
      span {
        display: block;
        padding-top: 16px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.25px;
      }
    }
  
    .div-upload2 {
      display: flex;
      align-items: center;
      margin-top: 40px;
    }
  }

ion-item {
    --inner-border-width: 0;
    --background: var(--content-background-white);
}

.label-percentage {
    background: var(--content-background-white);
    height: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px 10px;
    border: var(--border);
}

.div-choosefile {
    background: var(--background-main);
    color: var(--color-white);
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
    width: 50%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-label {
    padding: 10px;
    margin: 0;
    border: 1px solid #0c77c1;
    font-size: 14px;
    width: 50%;
}

ion-footer {
    padding: 10px;
    background: var(--content-background-white);
    border-top: var(--border-ddd);
}