<div class="div-notification-main">
  <div class="div-p-title">
      <p class="p-title">Today</p>
  </div>
  <div class="div-notification-sub">
      <div class="div-img-name">
          <div class="div-img">
            <ion-skeleton-text [animated]="true" style="height: 60px; width: 60px; border-radius: 50%;
            "></ion-skeleton-text>
            
              <!-- <ion-img src="assets/img/dummy/profile.png"></ion-img> -->
          </div>
          <div class="div-name">
            <ion-skeleton-text [animated]="true" style="height: 20px; width: 50%; 
            "></ion-skeleton-text>
              <!-- <ion-label class="label-name">Pogula Srinu</ion-label> -->
              <ion-skeleton-text [animated]="true" style="height: 18px; width: 100%; 
              "></ion-skeleton-text> 
              <!-- <ion-label class="label-desc">Viewed your 3-BHK Sale Application</ion-label> -->
          </div>
      </div>
      <div class="div-product-img">
        <ion-skeleton-text [animated]="true" style="height: 16px; width: 60px; 
        "></ion-skeleton-text>
          <!-- <span class="span-today">10m ago</span> -->
      </div>
  </div>
  <div class="div-notification-sub">
      <div class="div-img-name">
          <div class="div-img">
            <ion-skeleton-text [animated]="true" style="height: 60px; width: 60px; border-radius: 50%;
            "></ion-skeleton-text>
            
              <!-- <ion-img src="assets/img/dummy/ryan.jpg"></ion-img> -->
          </div>
          <div class="div-name">
            <ion-skeleton-text [animated]="true" style="height: 20px; width: 75%; 
            "></ion-skeleton-text>
              <!-- <ion-label class="label-name">Shivakoti Narendar</ion-label> -->
              <ion-skeleton-text [animated]="true" style="height: 18px; width: 100%; 
              "></ion-skeleton-text>
              <!-- <ion-label class="label-desc">Viewed your 3-BHK Sale Application</ion-label> -->
          </div>
      </div>
      <div class="div-product-img">
        <ion-skeleton-text [animated]="true" style="height: 16px; width: 60px; 
        "></ion-skeleton-text>
          <!-- <span class="span-today">1h ago</span> -->
      </div>
  </div>
  <div class="div-notification-sub">
      <div class="div-img-name">
          <div class="div-img">
            <ion-skeleton-text [animated]="true" style="height: 60px; width: 60px; border-radius: 50%;
            "></ion-skeleton-text>
              <!-- <ion-img src="assets/img/dummy/ryan.jpg"></ion-img> -->
          </div>
          <div class="div-name">
            <ion-skeleton-text [animated]="true" style="height: 20px; width: 70%; 
            "></ion-skeleton-text>
              <!-- <ion-label class="label-name">Donda Venkanna</ion-label> -->
              <ion-skeleton-text [animated]="true" style="height: 18px; width: 100%; 
              "></ion-skeleton-text>
              <!-- <ion-label class="label-desc">Watched your Mobile Number</ion-label> -->
          </div>
      </div>
      <div class="div-product-img">
        <ion-skeleton-text [animated]="true" style="height: 16px; width: 60px; 
        "></ion-skeleton-text>
          <!-- <span class="span-today">10h ago</span> -->
      </div>
  </div>
  <div class="div-notification-sub">
      <div class="div-img-name">
          <div class="div-img">
            <ion-skeleton-text [animated]="true" style="height: 60px; width: 60px; border-radius: 50%;
        "></ion-skeleton-text>
              <!-- <ion-img src="assets/img/dummy/profile.png"></ion-img> -->
          </div>
          <div class="div-name">
            <ion-skeleton-text [animated]="true" style="height: 20px; width: 70%; 
        "></ion-skeleton-text>
              <!-- <ion-label class="label-name">Gunda Abhinav</ion-label> -->
              <ion-skeleton-text [animated]="true" style="height: 18px; width: 90%; 
        "></ion-skeleton-text>
              <!-- <ion-label class="label-desc">Viewed your 3-BHK Sale Application</ion-label> -->
          </div>
      </div>
      <div class="div-product-img">
        <ion-skeleton-text [animated]="true" style="height: 16px; width: 60px; 
        "></ion-skeleton-text>
          <!-- <span class="span-today">22h ago</span> -->
      </div>
  </div>



  <div class="div-p-title">
      <p class="p-title">Earlier</p>
  </div>
  <div class="div-notification-sub">
      <div class="div-img-name">
          <div class="div-img">
            <ion-skeleton-text [animated]="true" style="height: 60px; width: 60px; border-radius: 50%;
            "></ion-skeleton-text>
            
              <!-- <ion-img src="assets/img/dummy/ryan.jpg"></ion-img> -->
          </div>
          <div class="div-name">
            <ion-skeleton-text [animated]="true" style="height: 20px; width: 85%; 
            "></ion-skeleton-text>
              <!-- <ion-label class="label-name">Malreddy Sandeep</ion-label> -->
              <ion-skeleton-text [animated]="true" style="height: 18px; width: 100%; 
              "></ion-skeleton-text>
              <!-- <ion-label class="label-desc">Viewed your 3-BHK Sale Application</ion-label> -->
          </div>
      </div>
      <div class="div-product-img">
        <ion-skeleton-text [animated]="true" style="height: 16px; width: 75px; 
        "></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="height: 16px; width: 60px; 
            "></ion-skeleton-text>
        
      </div>
  </div>
  <div class="div-notification-sub">
      <div class="div-img-name">
          <div class="div-img">
            <ion-skeleton-text [animated]="true" style="height: 60px; width: 60px; border-radius: 50%;
            "></ion-skeleton-text>
            

             
          </div>
          <div class="div-name">
            <ion-skeleton-text [animated]="true" style="height: 20px; width: 85%; 
            "></ion-skeleton-text>
               <ion-skeleton-text [animated]="true" style="height: 18px; width: 100%; 
               "></ion-skeleton-text>
          </div>
      </div>
      <div class="div-product-img">
        <ion-skeleton-text [animated]="true" style="height: 16px; width: 75px; 
        "></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="height: 16px; width: 60px; 
            "></ion-skeleton-text>
      </div>
  </div>
  <div class="div-notification-sub">
      <div class="div-img-name">
          <div class="div-img">
            <ion-skeleton-text [animated]="true" style="height: 60px; width: 60px; border-radius: 50%;
            "></ion-skeleton-text>
              
          </div>
          <div class="div-name">
            <ion-skeleton-text [animated]="true" style="height: 20px; width: 100%; 
            "></ion-skeleton-text>
                <ion-skeleton-text [animated]="true" style="height: 18px; width: 100%; 
                "></ion-skeleton-text>
              
          </div>
      </div>
      <div class="div-product-img">
        <ion-skeleton-text [animated]="true" style="height: 16px; width: 75px; 
        "></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="height: 16px; width: 60px; 
            "></ion-skeleton-text>
         
      </div>
  </div>
  <div class="div-notification-sub">
      <div class="div-img-name">
          <div class="div-img">
            <ion-skeleton-text [animated]="true" style="height: 60px; width: 60px; border-radius: 50%;
            "></ion-skeleton-text>
            
              
          </div>
          <div class="div-name">
            <ion-skeleton-text [animated]="true" style="height: 20px; width: 95%; 
            "></ion-skeleton-text>
                <ion-skeleton-text [animated]="true" style="height: 18px; width: 100%; 
                "></ion-skeleton-text>
          
          </div>
      </div>
      <div class="div-product-img">
        <ion-skeleton-text [animated]="true" style="height: 16px; width: 75px; 
        "></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="height: 16px; width: 60px; 
            "></ion-skeleton-text>
      </div>
  </div>








<!-- 
  <div class="div-p-title">
    <p class="p-title">Earlier</p>
</div>
<div class="div-notification-sub">
    <div class="div-img-name">
        <div class="div-img">
            <ion-img src="assets/img/dummy/ryan.jpg"></ion-img>
        </div>
        <div class="div-name">
            <ion-label class="label-name">Malreddy Sandeep</ion-label>
            <ion-label class="label-desc">Viewed your 3-BHK Sale Application</ion-label>
        </div>
    </div>
    <div class="div-product-img">
        <span class="span-today">22/09/2020</span>
        <span class="span-today">10:00 AM</span>
    </div>
</div>
<div class="div-notification-sub">
    <div class="div-img-name">
        <div class="div-img">
            <ion-img src="assets/img/dummy/ryan.jpg"></ion-img>
        </div>
        <div class="div-name">
            <ion-label class="label-name">Dongari Santhosh</ion-label>
            <ion-label class="label-desc">Viewed your 3-BHK Sale Application</ion-label>
        </div>
    </div>
    <div class="div-product-img">
        <span class="span-today">11/09/2020</span>
        <span class="span-today">03:00 PM</span>
    </div>
</div>
<div class="div-notification-sub">
    <div class="div-img-name">
        <div class="div-img">
            <ion-img src="assets/img/dummy/profile.png"></ion-img>
        </div>
        <div class="div-name">
            <ion-label class="label-name">Podila Satyanarayana</ion-label>
            <ion-label class="label-desc">Viewed your 3-BHK Sale Application</ion-label>
        </div>
    </div>
    <div class="div-product-img">
        <span class="span-today">02/08/2020</span>
        <span class="span-today">09:00 AM</span>
    </div>
</div>
<div class="div-notification-sub">
    <div class="div-img-name">
        <div class="div-img">
            <ion-img src="assets/img/dummy/ryan.jpg"></ion-img>
        </div>
        <div class="div-name">
            <ion-label class="label-name">Gandham Venkatesh</ion-label>
            <ion-label class="label-desc">Viewed your 3-BHK Sale Application</ion-label>
        </div>
    </div>
    <div class="div-product-img">
        <span class="span-today">01/07/2020</span>
        <span class="span-today">01:00 PM</span>
    </div>
</div> -->




</div>