<ion-content fullscreen="true">
  <!-- Header background & header row -->
  <div class="header-wrap">
    <ion-img src="assets/img/more-bg1.png" class="img-more-bg"></ion-img>
    <span class="span-more">More</span>

    <div class="ion-item-settings">
      <div class="div-names">
        <ion-label class="ion-label-settings">
          {{ displayName() || 'User' }}
        </ion-label>
        <span (click)="goToProfile()">view profile</span>
      </div>

      @if (userPhoto()) {
      <div class="div-img" (click)="selectMedia()">
        <ion-img [src]="userPhoto()" class="img-user-settings" (click)="openFullImage([userPhoto()])">
        </ion-img>
        <ion-icon name="camera-outline"></ion-icon>
      </div>
      } @else {
      <div class="div-img" (click)="selectMedia()" style="background: var(--background-main);">
        <ion-label class="label-firstchar">{{ initials() }}</ion-label>
        <ion-icon name="camera-outline"></ion-icon>
      </div>
      }
    </div>
  </div>

  <ion-list>

    <!-- Dark mode -->
    <ion-item lines="full">
      <ion-icon class="icon-toggle" slot="start" name="moon-outline"></ion-icon>
      <ion-label class="label-toggle">Dark Mode</ion-label>
      <ion-toggle slot="end" color="tertiary" [checked]="isDark()" (ionChange)="onThemeToggle($event)">
      </ion-toggle>
    </ion-item>

    <ion-list-header style="padding-top: 16px;">Personal Information</ion-list-header>

    <div class="div-icon-main">
      <!-- About -->
      <div class="div-icon-name" (click)="openAbout()">
        <div class="div-icon-sub">
          <ion-icon name="person-outline" class="icon-title"></ion-icon>
          <ion-label>About Realtor '1'</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <!-- Profile -->
      <div class="div-icon-name" (click)="goToProfile()">
        <div class="div-icon-sub">
          <ion-icon name="person-outline" class="icon-title"></ion-icon>
          <ion-label>Profile</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <!-- Agent Profile -->
      @if (userAgent()) {
      <div class="div-icon-name" (click)="goToAgentProfile()">
        <div class="div-icon-sub">
          <ion-icon name="person-outline" class="icon-title"></ion-icon>
          <ion-label>Agent Profile</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>
      }

      <!-- Billing -->
      <div class="div-icon-name" (click)="goToBilling()">
        <div class="div-icon-sub">
          <ion-icon name="person-outline" class="icon-title"></ion-icon>
          <ion-label>Billing</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <!-- Subscription -->
      <div class="div-icon-name" (click)="goToSubscription()">
        <div class="div-icon-sub">
          <ion-icon name="person-outline" class="icon-title"></ion-icon>
          <ion-label>Subscription</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <!-- My Properties -->
      <div class="div-icon-name" (click)="goToMyRequests()">
        <div class="div-icon-sub">
          <ion-icon name="git-compare-outline" class="icon-title"></ion-icon>
          <ion-label>My Properties</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <!-- Saved Properties -->
      <div class="div-icon-name" (click)="goToSavedProperties()">
        <div class="div-icon-sub">
          <ion-icon name="bookmark-outline" class="icon-title"></ion-icon>
          <ion-label>Saved Properties</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <!-- Property Views -->
      <div class="div-icon-name" (click)="goToPropertyViews()">
        <div class="div-icon-sub">
          <ion-icon name="bookmark-outline" class="icon-title"></ion-icon>
          <ion-label>Property Views</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <!-- Amenities -->
      <div class="div-icon-name" (click)="openAmenities()">
        <div class="div-icon-sub">
          <ion-icon name="bookmark-outline" class="icon-title"></ion-icon>
          <ion-label>Amenities</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <div class="div-icon-name" (click)="openLanguage()">
        <div class="div-icon-sub">
          <ion-icon name="bookmark-outline" class="icon-title"></ion-icon>
          <ion-label>Languages</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>
  </div>

    <ion-list-header>Account Privacy</ion-list-header>
    <div class="div-icon-main" style="margin-bottom:0;">
      <div class="div-icon-name" (click)="faqs()">
        <div class="div-icon-sub">
          <ion-icon name="help-outline" class="icon-title"></ion-icon>
          <ion-label>Faqs</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <div class="div-icon-name" (click)="helpus()">
        <div class="div-icon-sub">
          <ion-icon name="mail-outline" class="icon-title"></ion-icon>
          <ion-label>Help Us</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <div class="div-icon-name" (click)="termsConditions()">
        <div class="div-icon-sub">
          <ion-icon name="clipboard-outline" class="icon-title"></ion-icon>
          <ion-label>Terms &amp; Conditions</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <div class="div-icon-name" (click)="privacyPolicy()">
        <div class="div-icon-sub">
          <ion-icon name="document-outline" class="icon-title"></ion-icon>
          <ion-label>Privacy Policy</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>

      <div class="div-icon-name" (click)="alertLogout()">
        <div class="div-icon-sub">
          <ion-icon name="log-out-outline" class="icon-title"></ion-icon>
          <ion-label>Logout</ion-label>
        </div>
        <ion-icon name="chevron-forward-outline" class="icon-arrow"></ion-icon>
      </div>
    </div>
  </ion-list>

  <div class="div-company">
    <label class="name">
      <span> Arhasri </span> Technologies Private Limited
    </label>
    <p class="dev-note">Developed by GAK</p>
    <ion-img src="assets/img/mwl.png" style="height: 50px; width: 100%" />
  </div>
</ion-content>