<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()"></ion-icon>
    <ion-title>Agent Profile</ion-title>
    <ion-button size="small" color="danger" class="edit-agent" (click)="editAgent()">Edit Agent</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  @if (pageError()) {
  <div style="background:#fee2e2;color:#7f1d1d;padding:8px 12px;font-size:13px;">
    {{ pageError() }}
  </div>
  }


  <div class="div-profile-main">
    <div class="div-img">
      <div class="div-refer">
        <ion-label><span>Referred</span>{{ agent()?.referralsCount ?? 0 }}</ion-label>
      </div>
      <div class="div-refer" style="right: 30px;left: inherit;">
        <ion-label><span>Amount</span>₹{{ agent()?.redeemableAmount ?? 0 }}</ion-label>
      </div>
      <ion-img class="img-left" src="assets/img/shape1.png"></ion-img>
      <ion-img class="img-right" src="assets/img/shape2.png"></ion-img>
      <ion-label class="label-agent-name">Agent Profile</ion-label>
      <ion-img class="img-profile" [src]="agent()?.photoUrl || 'assets/img/ryan.jpg'"></ion-img>
      <a>
        <ion-label>Redeem</ion-label>
      </a>
    </div>

    <div class="div-details">
      <ion-label class="label-name">{{ agent()?.agentFullName }}</ion-label>
      <ion-label class="label-code">{{ agent()?.agentCode || '-' }}</ion-label>

      <div class="div-location">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>
          {{ agent()?.address }}
          @if (agent()?.city) {, {{ agent()?.city }}}
          @if (agent()?.state) {, {{ agent()?.state }}}
          @if (agent()?.pincode) {-{{ agent()?.pincode }}}
        </ion-label>
      </div>

      <div class="div-location">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>{{ agent()?.email }}</ion-label>
      </div>

      <div class="div-location">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>{{ agent()?.phone }}</ion-label>
      </div>
    </div>
  </div>

  <div style="margin:16px;">
    <ion-segment [value]="segmentAction()" mode="ios" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="ReferredCustomers">
        <ion-label>Referred Customers</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Properties">
        <ion-label>Renewal&nbsp;Properties</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  @if (segmentAction() === 'ReferredCustomers') {
  <div>
    <app-transactions></app-transactions>
  </div>
  }
  @if (segmentAction() === 'Properties') {
  <div>
    <app-renewalproperties></app-renewalproperties>
  </div>
  }

</ion-content>