<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="dismiss()" class="icon-close"></ion-icon>
    <ion-title>
      Agent Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-profile-main">
    <div class="div-img">
      <div class="div-refer">
        <ion-label><span>Referred</span>125</ion-label>
      </div>
      <div class="div-refer" style="right: 30px;left: inherit;">
        <ion-label><span>Amount</span>₹2875</ion-label>
      </div>
      <ion-img class="img-left" src="assets/img/shape1.png"></ion-img>
      <ion-img class="img-right" src="assets/img/shape2.png"></ion-img>
      <ion-label class="label-agent-name">Agent Profile</ion-label>
      <ion-img class="img-profile" src="assets/img/ryan.jpg"></ion-img>
      <a>
        <ion-label>Redeem</ion-label>
      </a>
    </div>
    <div class="div-details">
      <ion-label class="label-name">Donda Venkanna</ion-label>
      <ion-label class="label-code">ND001</ion-label>
      <div class="div-location">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>Balemla, Suryapet, Telangana-508213</ion-label>
      </div>
      <div class="div-location">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>example&#64;gmail.com</ion-label>
      </div>
      <div class="div-location">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>7070707070</ion-label>
      </div>
    </div>
  </div>
  <div class="" style="margin: 16px;">
    <ion-segment value="ReferredCustomers" mode="ios" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="ReferredCustomers">
        <ion-label>Referred Customers</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Properties">
        <ion-label>Renewal&nbsp;Properties</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="ReferredCustomers">
      <ion-label>Referred&nbsp;Customers</ion-label>
    </ion-segment-button> -->
    </ion-segment>
  </div>
  @if(segmentAction === 'ReferredCustomers') {
  <div>
    <app-transactions></app-transactions>
    <!-- <ais-instantsearch [config]="config">
      <ais-configure [searchParameters]="{ hitsPerPage: 10   }">
      </ais-configure>
      <div class="div-search-position">               
        <ais-search-box style="flex-grow: 1;"></ais-search-box>
        <ion-icon name="filter-outline" *ngIf="!showFilter" (click)="showFilter = !showFilter"></ion-icon>
        <ion-button size="small" color="tertiary" class="span-apply" *ngIf="showFilter" (click)=" showFilter= !showFilter">Apply</ion-button>
      </div>
      <div [hidden]="!showFilter" class="div-filter-padding">
          <ais-clear-refinements class="refinement-list-filter" buttonLabel="Clear all filters">
          </ais-clear-refinements>  
          <ais-panel class="panel-settings" header="Branch">
            <ais-refinement-list class="refinement-list-filter"
                attribute="branch"
                
                 showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by branch" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
          <ais-panel class="panel-settings" header="Group">
            <ais-refinement-list class="refinement-list-filter"
                attribute="group"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by group" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
  
          <ais-panel class="panel-settings" header="New Bin">
            <ais-refinement-list class="refinement-list-filter"
                attribute="newBin"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by New Bin" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
  
          <ais-panel class="panel-settings" header="Quantity">
            <ais-refinement-list class="refinement-list-filter"
                attribute="quantity"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by quantity" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
          <ais-panel class="panel-settings" header="SKU">
            <ais-refinement-list class="refinement-list-filter"
                attribute="sku"
                 showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by sku" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
        </div>
      <div class="div-padding" *ngIf="!showFilter">
        <ais-hits  >
          <ng-template let-hits="hits" let-results="results">
            <app-transactions></app-transactions>
            <app-transactions></app-transactions>
            <app-transactions></app-transactions>
            <app-transactions></app-transactions>
            <app-transactions></app-transactions>
          </ng-template>
        </ais-hits>         
      </div>
    </ais-instantsearch> -->
  </div>
  }
  @if(segmentAction === 'Properties') {
  <div>
    <app-renewalproperties></app-renewalproperties>
    <!-- <ais-instantsearch [config]="config">
      <ais-configure [searchParameters]="{ hitsPerPage: 10   }">
      </ais-configure>
      <div class="div-search-position">               
        <ais-search-box style="flex-grow: 1;"></ais-search-box>
        <ion-icon name="filter-outline" *ngIf="!showFilter" (click)="showFilter = !showFilter"></ion-icon>
        <ion-button size="small" color="tertiary" class="span-apply" *ngIf="showFilter" (click)=" showFilter= !showFilter">Apply</ion-button>
      </div>
      <div [hidden]="!showFilter" class="div-filter-padding">
          <ais-clear-refinements class="refinement-list-filter" buttonLabel="Clear all filters">
          </ais-clear-refinements>  
          <ais-panel class="panel-settings" header="Branch">
            <ais-refinement-list class="refinement-list-filter"
                attribute="branch"
                
                 showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by branch" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
          <ais-panel class="panel-settings" header="Group">
            <ais-refinement-list class="refinement-list-filter"
                attribute="group"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by group" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
  
          <ais-panel class="panel-settings" header="New Bin">
            <ais-refinement-list class="refinement-list-filter"
                attribute="newBin"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by New Bin" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
  
          <ais-panel class="panel-settings" header="Quantity">
            <ais-refinement-list class="refinement-list-filter"
                attribute="quantity"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by quantity" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
          <ais-panel class="panel-settings" header="SKU">
            <ais-refinement-list class="refinement-list-filter"
                attribute="sku"
                 showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by sku" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
        </div>
      <div class="div-padding" *ngIf="!showFilter">
        <ais-hits  >
          <ng-template let-hits="hits" let-results="results">
            <app-renewalproperties></app-renewalproperties>
          </ng-template>
        </ais-hits>         
      </div>
    </ais-instantsearch> -->
  </div>
  }
  <!-- <div *ngIf="segmentAction === 'ReferredCustomers'" style="padding: 16px;padding-top: 0;">
    <ais-instantsearch [config]="config">
      <ais-configure [searchParameters]="{ hitsPerPage: 10   }">
      </ais-configure>
      <div class="div-search-position">               
        <ais-search-box style="flex-grow: 1;"></ais-search-box>
        <ion-icon name="filter-outline" *ngIf="!showFilter" (click)="showFilter = !showFilter"></ion-icon>
        <ion-button size="small" color="tertiary" class="span-apply" *ngIf="showFilter" (click)=" showFilter= !showFilter">Apply</ion-button>
      </div>
      <div [hidden]="!showFilter" class="div-filter-padding">
          <ais-clear-refinements class="refinement-list-filter" buttonLabel="Clear all filters">
          </ais-clear-refinements>  
          <ais-panel class="panel-settings" header="Branch">
            <ais-refinement-list class="refinement-list-filter"
                attribute="branch"
                
                 showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by branch" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
          <ais-panel class="panel-settings" header="Group">
            <ais-refinement-list class="refinement-list-filter"
                attribute="group"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by group" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
  
          <ais-panel class="panel-settings" header="New Bin">
            <ais-refinement-list class="refinement-list-filter"
                attribute="newBin"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by New Bin" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
  
          <ais-panel class="panel-settings" header="Quantity">
            <ais-refinement-list class="refinement-list-filter"
                attribute="quantity"
                showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by quantity" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
          <ais-panel class="panel-settings" header="SKU">
            <ais-refinement-list class="refinement-list-filter"
                attribute="sku"
                 showMoreLabel="show more..." showLessLabel="show less..."
                [searchable]="true"  [autoHideContainer]="true"
                searchPlaceholder="search by sku" operator="or">
            </ais-refinement-list>
          </ais-panel>
  
        </div>
      <div class="div-padding" *ngIf="!showFilter">
        <ais-hits  >
          <ng-template let-hits="hits" let-results="results">
            <app-referredcustomers></app-referredcustomers>
            <app-referredcustomers></app-referredcustomers>
            <app-referredcustomers></app-referredcustomers>
            <app-referredcustomers></app-referredcustomers>
            <app-referredcustomers></app-referredcustomers>
          </ng-template>
        </ais-hits>         
      </div>
    </ais-instantsearch>
  </div> -->
</ion-content>