<div class="div-products">
  <div class="div-trending-main">
      <div class="div-search-main">
          <div class="search_box">
              <ion-icon name="search-outline" />
              <ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="Search here" />
          </div>
      </div>
      <div class="div-product-sub">
          <div class="div-product-card">
              <div class="div-img-products">
                  <ion-label class="label-offer">Diwali Offer</ion-label>
                  <ion-img src="assets/img/dummy/4images1.jpg" />
                  <ion-label class="label-discount"><span>36</span>&nbsp;%&nbsp;Off</ion-label>
              </div>
              <div class="div-details-product">
                  <ion-label class="label-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</ion-label>
                  <div class="div-prices">
                      <ion-label class="label-net-price">&nbsp;&#x20B9;&nbsp;<span>5500</span></ion-label>
                      <ion-label class="label-actual-price">&nbsp;&#x20B9;&nbsp;7500</ion-label>
                  </div>
                  <div class="div-rating-cart">
                      <div class="div-cart-wishlist">
                          <ion-icon name="heart-outline" />
                          <ion-icon name="cart-outline" />
                      </div>
                      <div class="div-rating">
                          <ion-icon name="star" />
                          <ion-label class="label-rating-number">4.5</ion-label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="div-product-sub">
          <div class="div-product-card">
              <div class="div-img-products">
                  <ion-label class="label-offer">Diwali Offer</ion-label>
                  <ion-img src="assets/img/dummy/4images1.jpg" />
                  <ion-label class="label-discount"><span>36</span>&nbsp;%&nbsp;Off</ion-label>
              </div>
              <div class="div-details-product">
                  <ion-label class="label-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</ion-label>
                  <div class="div-prices">
                      <ion-label class="label-net-price">&nbsp;&#x20B9;&nbsp;<span>5500</span></ion-label>
                      <ion-label class="label-actual-price">&nbsp;&#x20B9;&nbsp;7500</ion-label>
                  </div>
                  <div class="div-rating-cart">
                      <div class="div-cart-wishlist">
                          <ion-icon name="heart-outline" />
                          <ion-icon name="cart-outline" />
                      </div>
                      <div class="div-rating">
                          <ion-icon name="star" />
                          <ion-label class="label-rating-number">4.5</ion-label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="div-product-sub">
          <div class="div-product-card">
              <div class="div-img-products">
                  <ion-label class="label-offer">Diwali Offer</ion-label>
                  <ion-img src="assets/img/dummy/4images1.jpg" />
                  <ion-label class="label-discount"><span>36</span>&nbsp;%&nbsp;Off</ion-label>
              </div>
              <div class="div-details-product">
                  <ion-label class="label-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</ion-label>
                  <div class="div-prices">
                      <ion-label class="label-net-price">&nbsp;&#x20B9;&nbsp;<span>5500</span></ion-label>
                      <ion-label class="label-actual-price">&nbsp;&#x20B9;&nbsp;7500</ion-label>
                  </div>
                  <div class="div-rating-cart">
                      <div class="div-cart-wishlist">
                          <ion-icon name="heart-outline" />
                          <ion-icon name="cart-outline" />
                      </div>
                      <div class="div-rating">
                          <ion-icon name="star" />
                          <ion-label class="label-rating-number">4.5</ion-label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="div-product-sub">
          <div class="div-product-card">
              <div class="div-img-products">
                  <ion-label class="label-offer">Diwali Offer</ion-label>
                  <ion-img src="assets/img/dummy/4images1.jpg" />
                  <ion-label class="label-discount"><span>36</span>&nbsp;%&nbsp;Off</ion-label>
              </div>
              <div class="div-details-product">
                  <ion-label class="label-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</ion-label>
                  <div class="div-prices">
                      <ion-label class="label-net-price">&nbsp;&#x20B9;&nbsp;<span>5500</span></ion-label>
                      <ion-label class="label-actual-price">&nbsp;&#x20B9;&nbsp;7500</ion-label>
                  </div>
                  <div class="div-rating-cart">
                      <div class="div-cart-wishlist">
                          <ion-icon name="heart-outline" />
                          <ion-icon name="cart-outline" />
                      </div>
                      <div class="div-rating">
                          <ion-icon name="star" />
                          <ion-label class="label-rating-number">4.5</ion-label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>