<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()"></ion-icon>
    <div class="div-toolbarflex">
      <ion-title>
        Amenities
      </ion-title>
      <ion-button color="warning" size="small" (click)="addItems()" slot="end">
        Add
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-amenities">
    <div class="div-amenity">
      <div class="div-title">
        <div class="div-img">
          <ion-img [src]="'assets/img/onlylogo.png'"></ion-img>
        </div>
        <ion-label>Swimming Pool</ion-label>
      </div>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </div>
  </div>
</ion-content>