<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" class="icon-close" (click)="dismiss()"></ion-icon>
    <ion-title>Property Views</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- skeleton code start -->
  <!-- <ion-card (click)="showViewersList()">
    <ion-item  style="--inner-border-width: 0;width: 343px;height: 59px;">
      <ion-skeleton-text [animated]="true" style="height: 36px;width: 36px;border-radius: 50%;"></ion-skeleton-text>
      <div class="two">
        <ion-skeleton-text [animated]="true" style="width: 150px;line-height: 20px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 50px;line-height: 14px;"></ion-skeleton-text>
      </div>
    </ion-item>
    <div class="main" style="padding: 0 10px;">
      <ion-skeleton-text [animated]="true" style="height: 150px;width: 100%;border-radius: 16px;"></ion-skeleton-text>
     
    </div>
    <div class="flex">
      <ion-skeleton-text [animated]="true" style="height: 40px; width: 70px; border-radius: 100px; margin: 0;
  "></ion-skeleton-text>
      <div>
        <ion-skeleton-text [animated]="true" style="height: 40px; width: 150px; border-radius: 100px; margin: 0;
  "></ion-skeleton-text>
       
      </div>
    </div>
    <div class="text">
      <ion-skeleton-text [animated]="true" style="width: 150px;  margin: 0;line-height: 30px;
  "></ion-skeleton-text>
      <div class="end" style="display: flex;align-items: center;">
        <ion-skeleton-text [animated]="true" style="height: 18px;width: 16px;margin-right: 5px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="height: 18px;width: 24px;"></ion-skeleton-text>
      </div>
    </div>

  </ion-card> -->
  <!-- skeletoncode end -->

  <div class="">
    @for (item of [1,2,3,4,5,6,7,8,9,10]; track item) {
    <app-property-view-card></app-property-view-card>
    }
  </div>


</ion-content>