<ion-header>
  <ion-toolbar>
    <ion-icon class="icon-close" name="chevron-back-outline" (click)="dismiss()"></ion-icon>
    <ion-title>Viewers List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @for (viewer of viewerList(); track viewer.id) {
  <div class="list-container">
    <div class="div-number">
      <span>{{ viewer.id }}</span>
    </div>
    <div class="div-flex">
      <ion-avatar>
        <ion-img alt="Silhouette of a person's head" [src]="viewer.image" class="img-viewer"></ion-img>
      </ion-avatar>
      <div class="div-viewer-name">
        <ion-label class="label-name">{{ viewer.name }}</ion-label>
        <ion-label class="label-phone">{{ viewer.phone }}</ion-label>
      </div>
    </div>
    <div style="position:relative;">
      <ion-img src="assets/img/call-bg.png" class="call-bg"></ion-img>
      <span class="label-call">Call</span>
    </div>
  </div>
  }
</ion-content>