ion-title {
  text-align: left;
  padding-left: 40px;
}

ion-content {
  --background: var(--content-background);
}

ion-list {
  background: var(--content-background-white);
}

ion-searchbar {
  padding: 10px;
  height: 65px;
}

ion-item {
  margin: 10px 0;
  --background: var(--content-background-white);
  align-items: baseline;

  ion-icon {
    margin-top: 12px;
    color: var(--color-black);
  }

  ion-label {
    font-weight: 600;
    letter-spacing: 0.25px;
    color: var(--color-black);

    span {
      display: -webkit-box;
      font-size: 14px;
      white-space: pre-wrap;
      color: var(--color-999);
      font-weight: 500;
      margin-top: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.div-location-icon {
  display: flex;
  align-items: center;
  background: var(--content-background-white);
  padding: 16px;
  border-radius: 6px;
  border: var(--border);
  margin: 16px;

  ion-icon {
    color: var(--color-main);
    margin-right: 10px;
  }

  ion-label {
    color: var(--color-main);
    font-weight: 600;
    letter-spacing: 0.25px;
    font-size: 14px;
    flex-grow: 1;
  }
}

.label-title {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: var(--color-999);
  display: block;
  margin: 16px;
  font-size: 14px;
}
