<ion-content [scrollY]="false">
  <div class="div-alert-box">
    <!-- <div class="div-img">
      <ion-img src="assets/img/discount.png"></ion-img>
    </div> -->
    <ion-icon name="close-outline" (click)="dismiss()" />
    <ion-label class="label-main-title">You have successfully added your property.</ion-label>
    <ion-label class="label-sub-title">If you want, your property to go live, pls click below button and subscribe</ion-label>
    <ion-label class="label-reaction" (click)="openSubscribe()">Subscribe now</ion-label>
  </div>
</ion-content>